/*
 * CryptoCompare Market, Index, Reference Data, News and Overview Metrcis API for the Cryptocurrency Industry
 * CryptoCompare is the world's leading digital asset data company, providing services that cater to corporate, government and retail clients. Our main reference index is widely recognized as a reliable benchmark, and we have been authorized by the Financial Conduct Authority (FCA) in the United Kingdom to operate as a benchmark administrator. In addition to catering to corporate, government, and retail clients, we offer a range of services including comprehensive market data for cryptocurrency exchanges in both the centralized and decentralized finance sectors, as well as individual asset data on custodians, supported platforms, and privacy solutions. Our offerings include price, volume, trade, and orderbook updates, as well as historical OHLCV data.
 *
 * The version of the OpenAPI document: 2.1.1
 * Contact: data@cryptocompare.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.Error;
import org.openapitools.model.GENERICRESPONSE;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2023-01-03T11:56:05.409869Z[Etc/UTC]")
@Client("${openapi-micronaut-client-base-path}")
public interface NewsApi {
    /**
     * newsV1ArticleList
     *
     * @param sourceIds Get articles from specific sources; either by their ids or keys (optional, default to )
     * @param lang The article Preferred language - English (EN), Portuguese (PT), Espanol (ES) (optional, default to EN)
     * @param categories News article categories to return (optional, default to )
     * @param excludeCategories News article categories to exclude from results (optional, default to )
     * @param toTs Articles published on or before this timestamp (optional, default to -1)
     * @return GENERICRESPONSE
     */
    @Get(uri="/news/v1/article/list")
    @Consumes({"application/json"})
    Mono<GENERICRESPONSE> newsV1ArticleList(
        @QueryValue(value="source_ids", defaultValue="") @Nullable List<String> sourceIds, 
        @QueryValue(value="lang", defaultValue="EN") @Nullable @Size(min=1) String lang, 
        @QueryValue(value="categories", defaultValue="") @Nullable @Size(max=200) List<String> categories, 
        @QueryValue(value="exclude_categories", defaultValue="") @Nullable @Size(max=200) List<String> excludeCategories, 
        @QueryValue(value="to_ts", defaultValue="-1") @Nullable Integer toTs
    );

    /**
     * newsV1CategoryList
     *
     * @return GENERICRESPONSE
     */
    @Get(uri="/news/v1/category/list")
    @Consumes({"application/json"})
    Mono<GENERICRESPONSE> newsV1CategoryList();

    /**
     * newsV1SourceList
     *
     * @param lang The article source Preferred language - English (EN), Portuguese (PT), Espanol (ES) (optional, default to EN)
     * @param type RSS, API, TWITTER (optional, default to RSS)
     * @param status The status for the  article source entry. Allowed values: ACTIVE, INACTIVE (optional, default to ACTIVE)
     * @return GENERICRESPONSE
     */
    @Get(uri="/news/v1/source/list")
    @Consumes({"application/json"})
    Mono<GENERICRESPONSE> newsV1SourceList(
        @QueryValue(value="lang", defaultValue="EN") @Nullable @Size(min=1) String lang, 
        @QueryValue(value="type", defaultValue="RSS") @Nullable @Size(min=1) String type, 
        @QueryValue(value="status", defaultValue="ACTIVE") @Nullable @Size(min=1) String status
    );

}
