/*
 * CryptoCompare Market, Index, Reference Data, News and Overview Metrcis API for the Cryptocurrency Industry
 * CryptoCompare is the world's leading digital asset data company, providing services that cater to corporate, government and retail clients. Our main reference index is widely recognized as a reliable benchmark, and we have been authorized by the Financial Conduct Authority (FCA) in the United Kingdom to operate as a benchmark administrator. In addition to catering to corporate, government, and retail clients, we offer a range of services including comprehensive market data for cryptocurrency exchanges in both the centralized and decentralized finance sectors, as well as individual asset data on custodians, supported platforms, and privacy solutions. Our offerings include price, volume, trade, and orderbook updates, as well as historical OHLCV data.
 *
 * The version of the OpenAPI document: 2.1.1
 * Contact: data@cryptocompare.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.Error;
import org.openapitools.model.GENERICRESPONSE;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2023-01-03T11:56:05.409869Z[Etc/UTC]")
@Client("${openapi-micronaut-client-base-path}")
public interface OverviewApi {
    /**
     * overviewV1HistoricalMarketcapAllAssetsDays
     *
     * @param groups When requesting all market cap historical data you can fiter by specific groups of interest. To do so just pass the groups of interest into the URL as a comma separted list. If left empty it will get all data that you account is allowed to access. The groups available are: ID,OHLC,VOLUME (optional, default to )
     * @param limit The number of data points to return (optional, default to 30)
     * @param toTs Returns historical data before this unix timestamp. If you want to get all the available historical data, you can use limit&#x3D;2000 and keep going back in time using the to_ts param. You can then keep requesting batches using: &amp;limit&#x3D;2000&amp;to_ts&#x3D;{the earliest unix timestamp received} (optional)
     * @param aggregate The number of points to aggregate for each returned value. E.g. passing 5 on a minute histo data endpoint will return data at 5 minute intervals. You are still limited to a maximum of 2000 minute points so the maximum you can get is 400 5 minutes interval entries (optional, default to 1)
     * @param fill Boolean value, if set to false or 0 we will not return data points for periods with no trading activity. (optional, default to true)
     * @param responseFormat The format of the data response in uppercase. It can be one of the following: JSON,CSV (optional, default to JSON)
     * @return GENERICRESPONSE
     */
    @Get(uri="/overview/v1/historical/marketcap/all/assets/days")
    @Consumes({"application/json"})
    Mono<GENERICRESPONSE> overviewV1HistoricalMarketcapAllAssetsDays(
        @QueryValue(value="groups", defaultValue="") @Nullable List<String> groups, 
        @QueryValue(value="limit", defaultValue="30") @Nullable @Min(1) @Max(2000) Integer limit, 
        @QueryValue(value="to_ts") @Nullable Integer toTs, 
        @QueryValue(value="aggregate", defaultValue="1") @Nullable @Min(1) @Max(30) Integer aggregate, 
        @QueryValue(value="fill", defaultValue="true") @Nullable Boolean fill, 
        @QueryValue(value="response_format", defaultValue="JSON") @Nullable String responseFormat
    );

    /**
     * overviewV1HistoricalMarketcapAllAssetsHours
     *
     * @param groups When requesting all market cap historical data you can fiter by specific groups of interest. To do so just pass the groups of interest into the URL as a comma separted list. If left empty it will get all data that you account is allowed to access. The groups available are: ID,OHLC,VOLUME (optional, default to )
     * @param limit The number of data points to return (optional, default to 30)
     * @param toTs Returns historical data before this unix timestamp. If you want to get all the available historical data, you can use limit&#x3D;2000 and keep going back in time using the to_ts param. You can then keep requesting batches using: &amp;limit&#x3D;2000&amp;to_ts&#x3D;{the earliest unix timestamp received} (optional)
     * @param aggregate The number of points to aggregate for each returned value. E.g. passing 5 on a minute histo data endpoint will return data at 5 minute intervals. You are still limited to a maximum of 2000 minute points so the maximum you can get is 400 5 minutes interval entries (optional, default to 1)
     * @param fill Boolean value, if set to false or 0 we will not return data points for periods with no trading activity. (optional, default to true)
     * @param responseFormat The format of the data response in uppercase. It can be one of the following: JSON,CSV (optional, default to JSON)
     * @return GENERICRESPONSE
     */
    @Get(uri="/overview/v1/historical/marketcap/all/assets/hours")
    @Consumes({"application/json"})
    Mono<GENERICRESPONSE> overviewV1HistoricalMarketcapAllAssetsHours(
        @QueryValue(value="groups", defaultValue="") @Nullable List<String> groups, 
        @QueryValue(value="limit", defaultValue="30") @Nullable @Min(1) @Max(2000) Integer limit, 
        @QueryValue(value="to_ts") @Nullable Integer toTs, 
        @QueryValue(value="aggregate", defaultValue="1") @Nullable @Min(1) @Max(30) Integer aggregate, 
        @QueryValue(value="fill", defaultValue="true") @Nullable Boolean fill, 
        @QueryValue(value="response_format", defaultValue="JSON") @Nullable String responseFormat
    );

    /**
     * overviewV1HistoricalMarketcapFtwAssetsDays
     *
     * @param groups When requesting ftw universe market cap historical data you can fiter by specific groups of interest. To do so just pass the groups of interest into the URL as a comma separted list. If left empty it will get all data that you account is allowed to access. The groups available are: ID,OHLC,VOLUME (optional, default to )
     * @param limit The number of data points to return (optional, default to 30)
     * @param toTs Returns historical data before this unix timestamp. If you want to get all the available historical data, you can use limit&#x3D;2000 and keep going back in time using the to_ts param. You can then keep requesting batches using: &amp;limit&#x3D;2000&amp;to_ts&#x3D;{the earliest unix timestamp received} (optional)
     * @param aggregate The number of points to aggregate for each returned value. E.g. passing 5 on a minute histo data endpoint will return data at 5 minute intervals. You are still limited to a maximum of 2000 minute points so the maximum you can get is 400 5 minutes interval entries (optional, default to 1)
     * @param fill Boolean value, if set to false or 0 we will not return data points for periods with no trading activity. (optional, default to true)
     * @param responseFormat The format of the data response in uppercase. It can be one of the following: JSON,CSV (optional, default to JSON)
     * @return GENERICRESPONSE
     */
    @Get(uri="/overview/v1/historical/marketcap/ftw/assets/days")
    @Consumes({"application/json"})
    Mono<GENERICRESPONSE> overviewV1HistoricalMarketcapFtwAssetsDays(
        @QueryValue(value="groups", defaultValue="") @Nullable List<String> groups, 
        @QueryValue(value="limit", defaultValue="30") @Nullable @Min(1) @Max(2000) Integer limit, 
        @QueryValue(value="to_ts") @Nullable Integer toTs, 
        @QueryValue(value="aggregate", defaultValue="1") @Nullable @Min(1) @Max(30) Integer aggregate, 
        @QueryValue(value="fill", defaultValue="true") @Nullable Boolean fill, 
        @QueryValue(value="response_format", defaultValue="JSON") @Nullable String responseFormat
    );

    /**
     * overviewV1HistoricalMarketcapFtwAssetsHours
     *
     * @param groups When requesting ftw universe market cap historical data you can fiter by specific groups of interest. To do so just pass the groups of interest into the URL as a comma separted list. If left empty it will get all data that you account is allowed to access. The groups available are: ID,OHLC,VOLUME (optional, default to )
     * @param limit The number of data points to return (optional, default to 30)
     * @param toTs Returns historical data before this unix timestamp. If you want to get all the available historical data, you can use limit&#x3D;2000 and keep going back in time using the to_ts param. You can then keep requesting batches using: &amp;limit&#x3D;2000&amp;to_ts&#x3D;{the earliest unix timestamp received} (optional)
     * @param aggregate The number of points to aggregate for each returned value. E.g. passing 5 on a minute histo data endpoint will return data at 5 minute intervals. You are still limited to a maximum of 2000 minute points so the maximum you can get is 400 5 minutes interval entries (optional, default to 1)
     * @param fill Boolean value, if set to false or 0 we will not return data points for periods with no trading activity. (optional, default to true)
     * @param responseFormat The format of the data response in uppercase. It can be one of the following: JSON,CSV (optional, default to JSON)
     * @return GENERICRESPONSE
     */
    @Get(uri="/overview/v1/historical/marketcap/ftw/assets/hours")
    @Consumes({"application/json"})
    Mono<GENERICRESPONSE> overviewV1HistoricalMarketcapFtwAssetsHours(
        @QueryValue(value="groups", defaultValue="") @Nullable List<String> groups, 
        @QueryValue(value="limit", defaultValue="30") @Nullable @Min(1) @Max(2000) Integer limit, 
        @QueryValue(value="to_ts") @Nullable Integer toTs, 
        @QueryValue(value="aggregate", defaultValue="1") @Nullable @Min(1) @Max(30) Integer aggregate, 
        @QueryValue(value="fill", defaultValue="true") @Nullable Boolean fill, 
        @QueryValue(value="response_format", defaultValue="JSON") @Nullable String responseFormat
    );

    /**
     * overviewV1LatestMarketcapAllTick
     *
     * @param groups When requesting all market cap tick data you can fiter by specific groups of interest. To do so just pass the groups of interest into the URL as a comma separted list. If left empty it will get all data that you account is allowed to access. The groups available are: ID,VALUE,LAST_UPDATE,CURRENT_HOUR,CURRENT_DAY,MOVING_24_HOUR (optional, default to )
     * @return GENERICRESPONSE
     */
    @Get(uri="/overview/v1/latest/marketcap/all/tick")
    @Consumes({"application/json"})
    Mono<GENERICRESPONSE> overviewV1LatestMarketcapAllTick(
        @QueryValue(value="groups", defaultValue="") @Nullable List<String> groups
    );

    /**
     * overviewV1LatestMarketcapFtwTick
     *
     * @param groups When requesting ftw universe market cap tick data you can fiter by specific groups of interest. To do so just pass the groups of interest into the URL as a comma separted list. If left empty it will get all data that you account is allowed to access. The groups available are: ID,VALUE,LAST_UPDATE,CURRENT_HOUR,CURRENT_DAY,MOVING_24_HOUR (optional, default to )
     * @return GENERICRESPONSE
     */
    @Get(uri="/overview/v1/latest/marketcap/ftw/tick")
    @Consumes({"application/json"})
    Mono<GENERICRESPONSE> overviewV1LatestMarketcapFtwTick(
        @QueryValue(value="groups", defaultValue="") @Nullable List<String> groups
    );

}
