{
    "openapi": "3.0.3",
    "info": {
      "title": "CryptoCompare Market, Index, Reference Data, News and Overview Metrcis API for the Cryptocurrency Industry",
      "description": "CryptoCompare is the world's leading digital asset data company, providing services that cater to corporate, government and retail clients. Our main reference index is widely recognized as a reliable benchmark, and we have been authorized by the Financial Conduct Authority (FCA) in the United Kingdom to operate as a benchmark administrator. In addition to catering to corporate, government, and retail clients, we offer a range of services including comprehensive market data for cryptocurrency exchanges in both the centralized and decentralized finance sectors, as well as individual asset data on custodians, supported platforms, and privacy solutions. Our offerings include price, volume, trade, and orderbook updates, as well as historical OHLCV data.",
      "termsOfService": "https://www.cryptocompare.com/terms-conditions/",
      "contact": {
        "name": "API Support",
        "url": "https://cryptocompare.zendesk.com/hc/en-gb/requests/new",
        "email": "data@cryptocompare.com"
      },
      "license": {
        "name": "CryptoCompare API License Agreement",
        "url": "https://www.cryptocompare.com/api-licence-agreement/"
      },
      "version": "2.1.1"
    },
    "servers": [
      {
        "url": "https://data-api.cryptocompare.com",
        "description": "The production API load balancer URL for all cryptocurrency data queries."
      }
    ],
    "paths": {
      "/spot/v1/latest/instrument/metadata": {
        "summary": "Instrument Metadata",
        "description": "Use to get metadata for a given array of instruments on a specific market. Metadata includes the instrument current status, first and last seen dates, and a mapping data regarding the instrument. This can be used to cross-reference the instrument's data with other systems that use different identifier schemes.",
        "get": {
          "tags": [
            "Spot"
          ],
          "operationId": "spot_v1_latest_instrument_metadata",
          "x-section": "Spot",
          "x-subsection": "General",
          "parameters": [
            {
              "name": "market",
              "in": "query",
              "description": "The exchange to obtain data from",
              "required": true,
              "explode": false,
              "style": "form",
              "deprecated": false,
              "schema": {
                "type": "string",
                "minLength": 2,
                "maxLength": 30
              },
              "example": "coinbase"
            },
            {
              "name": "instruments",
              "in": "query",
              "description": "A comma separated array of mapped and/or unmapped instruments to retrieve for a specific market (you can use either the instrument XXBTZUSD or mapped instrument (base - quote) BTC-USD on kraken as an example). We first check each instrument against the mapped list and then against the unmapped list but you can use the mapping_priority param to check the unmapped list first.",
              "required": true,
              "explode": false,
              "style": "form",
              "deprecated": false,
              "schema": {
                "type": "array",
                "minItems": 1,
                "maxItems": 25,
                "items": {
                  "type": "string"
                }
              },
              "example": [
                "BTC-USD",
                "ETH-USD"
              ]
            },
            {
              "name": "groups",
              "in": "query",
              "description": "When requesting metadata entries you can fiter by specific groups of interest. To do so just pass the groups of interest into the URL as a comma separted list. If left empty it will get all data that you account is allowed to access. The groups available are: STATUS,INTERNAL,GENERAL,MIGRATION,SOURCE",
              "required": false,
              "explode": false,
              "style": "form",
              "deprecated": false,
              "schema": {
                "type": "array",
                "default": [],
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "mapping_priority",
              "in": "query",
              "description": "The mapping priority of the instrument. It is set to CHECK_MAPPED_FIRST by default. It can be one of the following: CHECK_MAPPED_FIRST,CHECK_UNMAPPED_FIRST",
              "required": false,
              "explode": false,
              "style": "form",
              "deprecated": false,
              "schema": {
                "type": "string",
                "default": "CHECK_MAPPED_FIRST",
                "enum": [
                  "CHECK_MAPPED_FIRST",
                  "CHECK_UNMAPPED_FIRST"
                ]
              }
            }
          ],
          "deprecated": false,
          "responses": {
            "200": {
              "description": "Success response from the API.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "Data": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "object",
                          "properties": {
                            "METADATA_VERSION": {
                              "type": "integer",
                              "description": "The version of metadata, used for version conversions/migrates.",
                              "default": 4,
                              "example": 4
                            },
                            "INSTRUMENT_STATUS": {
                              "type": "string",
                              "description": "The status of the symbol, we only poll / stream / connect to the ACTIVE ones, for the RETIRED / IGNORED / EXPIRED  one we no longer query for data.",
                              "default": "ACTIVE",
                              "example": "ACTIVE"
                            },
                            "INSTRUMENT": {
                              "type": "string",
                              "description": "The instrument ID as it is on the exchange with small modifications - we do not allow the following characters inside isntrument ids: ,/&?"
                            },
                            "INSTRUMENT_MAPPING": {
                              "type": "object",
                              "description": "The current mapping information for this instrument",
                              "properties": {},
                              "default": {},
                              "example": {}
                            },
                            "INSTRUMENT_MAPPING_HISTORY": {
                              "type": "array",
                              "description": "Historical mapping information for this instrument",
                              "items": {
                                "type": "string"
                              },
                              "default": [],
                              "example": []
                            },
                            "INSTRUMENT_EXTERNAL_DATA": {
                              "type": "string",
                              "description": "The full data we get from the polling endpoint for this specific instrument. This is a JSON stringified object with different properties per exchange."
                            },
                            "PROCESSING_TRADES_FROM_BLOB_STATUS": {
                              "type": "string",
                              "description": "This states the status of blob migration for this intrument on this exchange."
                            },
                            "HOST_MIGRATION_STATUS": {
                              "type": "string",
                              "description": "The migration status of the symbol, we only poll / stream / connect empty or SETTLED"
                            },
                            "HOST_MIGRATION_SOURCE": {
                              "type": "string",
                              "description": "The migration source vm hostname."
                            },
                            "HOST_MIGRATION_DESTINATION": {
                              "type": "string",
                              "description": "The migration destination vm hostname."
                            },
                            "INSTRUMENT_TRADE_SPOT_REST_URI": {
                              "type": "string",
                              "description": "This is used to build up the request in some cases, this is where we put the id we use when querying for TRADE_SPOT."
                            },
                            "INSTRUMENT_TRADE_SPOT_REST_URL": {
                              "type": "string",
                              "description": "The URL we send to the proxy swarm to get TRADE_SPOT for the instrument."
                            },
                            "INSTRUMENT_TRADE_SPOT_STREAMING_SUBSCRIPTION": {
                              "type": "string",
                              "description": "This is used to build up the subscription in some cases, this is where we put the id we use when subscribing for TRADE_SPOT on this instrument."
                            },
                            "INSTRUMENT_TRADE_SPOT_IS_READY_FOR_STREAMING_INTEGRATION": {
                              "type": "boolean",
                              "description": "This flags the exchange instrument as in ready to consume TRADE_SPOT via a streaming integration.",
                              "default": false,
                              "example": false
                            },
                            "TOTAL_TRADES_SPOT": {
                              "type": "integer",
                              "description": "This is both the CCSEQ and the total TRADES_SPOT we have processed on this instrument"
                            },
                            "LAST_CONCURRENT_BATCH_OF_TRADES_SPOT_MS": {
                              "type": "integer",
                              "description": "The timestamp last encountered where the batch of trades from TRADES_SPOT all occured at the same time. This is an issue when making the next request that requires polling by timestamp as a start/from parameter"
                            },
                            "INSTRUMENT_TRADE_SPOT_FROM_POLLING_REST_URI_LAST_RESPONSE_TS": {
                              "type": "integer",
                              "description": "The last time we received a request from the proxy swarm with TRADE_SPOT for this instrument."
                            },
                            "INSTRUMENT_TRADE_SPOT_FROM_POLLING_REST_URI_LAST_REQUEST_TS": {
                              "type": "integer",
                              "description": "The last time we sent a request to the proxy swarm to get TRADE_SPOT for the instrument."
                            },
                            "INSTRUMENT_TRADE_SPOT_FROM_POLLING_REST_URI_NEXT_REQUEST_TS": {
                              "type": "integer",
                              "description": "The next time we expect to make a request for TRADE_SPOT on this instrument."
                            },
                            "INSTRUMENT_TRADE_SPOT_FROM_POLLING_LAST_PROXIED_REST_REQUEST": {
                              "type": "object",
                              "description": "The last proxied REST request we sent to the proxy swarm to get TRADE_SPOT for the instrument.",
                              "properties": {}
                            },
                            "FIRST_TRADE_SPOT_FROM_POLLING": {
                              "type": "object",
                              "description": "This is the first TRADE_SPOT that we have seen on the specific source type in internal format.",
                              "properties": {}
                            },
                            "LAST_TRADE_SPOT_FROM_POLLING": {
                              "type": "object",
                              "description": "This is the last TRADE_SPOT that we have seen on the specific source type in internal format.",
                              "properties": {}
                            },
                            "FIRST_TRADE_SPOT_FROM_POLLING_EXTERNAL": {
                              "type": "object",
                              "description": "This is the first TRADE_SPOT that we have seen on the specific source type in external format.",
                              "properties": {}
                            },
                            "LAST_TRADE_SPOT_FROM_POLLING_EXTERNAL": {
                              "type": "object",
                              "description": "This is the last TRADE_SPOT that we have seen on the specific trade source in external format.",
                              "properties": {}
                            },
                            "UNSTRUCTURED_TRADE_SPOT_FROM_POLLING_INTERNAL_DATA": {
                              "type": "object",
                              "description": "This is any extra helper TRADE_SPOT data that we would need for creating polling requests or subscribing with non standard information and anything that is very specific to one exchange API/Integration and it does not fit any of the other existing fields and is definitly only updated or written in only one service.",
                              "properties": {}
                            },
                            "INSTRUMENT_TRADE_SPOT_FROM_STREAMING_REST_URI_LAST_RESPONSE_TS": {
                              "type": "integer",
                              "description": "The last time we received a request from the proxy swarm with TRADE_SPOT for this instrument."
                            },
                            "INSTRUMENT_TRADE_SPOT_FROM_STREAMING_REST_URI_LAST_REQUEST_TS": {
                              "type": "integer",
                              "description": "The last time we sent a request to the proxy swarm to get TRADE_SPOT for the instrument."
                            },
                            "INSTRUMENT_TRADE_SPOT_FROM_STREAMING_REST_URI_NEXT_REQUEST_TS": {
                              "type": "integer",
                              "description": "The next time we expect to make a request for TRADE_SPOT on this instrument."
                            },
                            "INSTRUMENT_TRADE_SPOT_FROM_STREAMING_LAST_PROXIED_REST_REQUEST": {
                              "type": "object",
                              "description": "The last proxied REST request we sent to the proxy swarm to get TRADE_SPOT for the instrument.",
                              "properties": {}
                            },
                            "FIRST_TRADE_SPOT_FROM_STREAMING": {
                              "type": "object",
                              "description": "This is the first TRADE_SPOT that we have seen on the specific source type in internal format.",
                              "properties": {}
                            },
                            "LAST_TRADE_SPOT_FROM_STREAMING": {
                              "type": "object",
                              "description": "This is the last TRADE_SPOT that we have seen on the specific source type in internal format.",
                              "properties": {}
                            },
                            "FIRST_TRADE_SPOT_FROM_STREAMING_EXTERNAL": {
                              "type": "object",
                              "description": "This is the first TRADE_SPOT that we have seen on the specific source type in external format.",
                              "properties": {}
                            },
                            "LAST_TRADE_SPOT_FROM_STREAMING_EXTERNAL": {
                              "type": "object",
                              "description": "This is the last TRADE_SPOT that we have seen on the specific trade source in external format.",
                              "properties": {}
                            },
                            "UNSTRUCTURED_TRADE_SPOT_FROM_STREAMING_INTERNAL_DATA": {
                              "type": "object",
                              "description": "This is any extra helper TRADE_SPOT data that we would need for creating polling requests or subscribing with non standard information and anything that is very specific to one exchange API/Integration and it does not fit any of the other existing fields and is definitly only updated or written in only one service.",
                              "properties": {}
                            },
                            "INSTRUMENT_TRADE_SPOT_FROM_GO_REST_URI_LAST_RESPONSE_TS": {
                              "type": "integer",
                              "description": "The last time we received a request from the proxy swarm with TRADE_SPOT for this instrument."
                            },
                            "INSTRUMENT_TRADE_SPOT_FROM_GO_REST_URI_LAST_REQUEST_TS": {
                              "type": "integer",
                              "description": "The last time we sent a request to the proxy swarm to get TRADE_SPOT for the instrument."
                            },
                            "INSTRUMENT_TRADE_SPOT_FROM_GO_REST_URI_NEXT_REQUEST_TS": {
                              "type": "integer",
                              "description": "The next time we expect to make a request for TRADE_SPOT on this instrument."
                            },
                            "INSTRUMENT_TRADE_SPOT_FROM_GO_LAST_PROXIED_REST_REQUEST": {
                              "type": "object",
                              "description": "The last proxied REST request we sent to the proxy swarm to get TRADE_SPOT for the instrument.",
                              "properties": {}
                            },
                            "FIRST_TRADE_SPOT_FROM_GO": {
                              "type": "object",
                              "description": "This is the first TRADE_SPOT that we have seen on the specific source type in internal format.",
                              "properties": {}
                            },
                            "LAST_TRADE_SPOT_FROM_GO": {
                              "type": "object",
                              "description": "This is the last TRADE_SPOT that we have seen on the specific source type in internal format.",
                              "properties": {}
                            },
                            "FIRST_TRADE_SPOT_FROM_GO_EXTERNAL": {
                              "type": "object",
                              "description": "This is the first TRADE_SPOT that we have seen on the specific source type in external format.",
                              "properties": {}
                            },
                            "LAST_TRADE_SPOT_FROM_GO_EXTERNAL": {
                              "type": "object",
                              "description": "This is the last TRADE_SPOT that we have seen on the specific trade source in external format.",
                              "properties": {}
                            },
                            "UNSTRUCTURED_TRADE_SPOT_FROM_GO_INTERNAL_DATA": {
                              "type": "object",
                              "description": "This is any extra helper TRADE_SPOT data that we would need for creating polling requests or subscribing with non standard information and anything that is very specific to one exchange API/Integration and it does not fit any of the other existing fields and is definitly only updated or written in only one service.",
                              "properties": {}
                            },
                            "INSTRUMENT_TRADE_SPOT_FROM_BLOB_REST_URI_LAST_RESPONSE_TS": {
                              "type": "integer",
                              "description": "The last time we received a request from the proxy swarm with TRADE_SPOT for this instrument."
                            },
                            "INSTRUMENT_TRADE_SPOT_FROM_BLOB_REST_URI_LAST_REQUEST_TS": {
                              "type": "integer",
                              "description": "The last time we sent a request to the proxy swarm to get TRADE_SPOT for the instrument."
                            },
                            "INSTRUMENT_TRADE_SPOT_FROM_BLOB_REST_URI_NEXT_REQUEST_TS": {
                              "type": "integer",
                              "description": "The next time we expect to make a request for TRADE_SPOT on this instrument."
                            },
                            "INSTRUMENT_TRADE_SPOT_FROM_BLOB_LAST_PROXIED_REST_REQUEST": {
                              "type": "object",
                              "description": "The last proxied REST request we sent to the proxy swarm to get TRADE_SPOT for the instrument.",
                              "properties": {}
                            },
                            "FIRST_TRADE_SPOT_FROM_BLOB": {
                              "type": "object",
                              "description": "This is the first TRADE_SPOT that we have seen on the specific source type in internal format.",
                              "properties": {}
                            },
                            "LAST_TRADE_SPOT_FROM_BLOB": {
                              "type": "object",
                              "description": "This is the last TRADE_SPOT that we have seen on the specific source type in internal format.",
                              "properties": {}
                            },
                            "FIRST_TRADE_SPOT_FROM_BLOB_EXTERNAL": {
                              "type": "object",
                              "description": "This is the first TRADE_SPOT that we have seen on the specific source type in external format.",
                              "properties": {}
                            },
                            "LAST_TRADE_SPOT_FROM_BLOB_EXTERNAL": {
                              "type": "object",
                              "description": "This is the last TRADE_SPOT that we have seen on the specific trade source in external format.",
                              "properties": {}
                            },
                            "UNSTRUCTURED_TRADE_SPOT_FROM_BLOB_INTERNAL_DATA": {
                              "type": "object",
                              "description": "This is any extra helper TRADE_SPOT data that we would need for creating polling requests or subscribing with non standard information and anything that is very specific to one exchange API/Integration and it does not fit any of the other existing fields and is definitly only updated or written in only one service.",
                              "properties": {}
                            },
                            "INSTRUMENT_TRADE_SPOT_FROM_CALCULATED_REST_URI_LAST_RESPONSE_TS": {
                              "type": "integer",
                              "description": "The last time we received a request from the proxy swarm with TRADE_SPOT for this instrument."
                            },
                            "INSTRUMENT_TRADE_SPOT_FROM_CALCULATED_REST_URI_LAST_REQUEST_TS": {
                              "type": "integer",
                              "description": "The last time we sent a request to the proxy swarm to get TRADE_SPOT for the instrument."
                            },
                            "INSTRUMENT_TRADE_SPOT_FROM_CALCULATED_REST_URI_NEXT_REQUEST_TS": {
                              "type": "integer",
                              "description": "The next time we expect to make a request for TRADE_SPOT on this instrument."
                            },
                            "INSTRUMENT_TRADE_SPOT_FROM_CALCULATED_LAST_PROXIED_REST_REQUEST": {
                              "type": "object",
                              "description": "The last proxied REST request we sent to the proxy swarm to get TRADE_SPOT for the instrument.",
                              "properties": {}
                            },
                            "FIRST_TRADE_SPOT_FROM_CALCULATED": {
                              "type": "object",
                              "description": "This is the first TRADE_SPOT that we have seen on the specific source type in internal format.",
                              "properties": {}
                            },
                            "LAST_TRADE_SPOT_FROM_CALCULATED": {
                              "type": "object",
                              "description": "This is the last TRADE_SPOT that we have seen on the specific source type in internal format.",
                              "properties": {}
                            },
                            "FIRST_TRADE_SPOT_FROM_CALCULATED_EXTERNAL": {
                              "type": "object",
                              "description": "This is the first TRADE_SPOT that we have seen on the specific source type in external format.",
                              "properties": {}
                            },
                            "LAST_TRADE_SPOT_FROM_CALCULATED_EXTERNAL": {
                              "type": "object",
                              "description": "This is the last TRADE_SPOT that we have seen on the specific trade source in external format.",
                              "properties": {}
                            },
                            "UNSTRUCTURED_TRADE_SPOT_FROM_CALCULATED_INTERNAL_DATA": {
                              "type": "object",
                              "description": "This is any extra helper TRADE_SPOT data that we would need for creating polling requests or subscribing with non standard information and anything that is very specific to one exchange API/Integration and it does not fit any of the other existing fields and is definitly only updated or written in only one service.",
                              "properties": {}
                            },
                            "INSTRUMENT_TRADE_SPOT_FROM_BACKFILL_REST_URI_LAST_RESPONSE_TS": {
                              "type": "integer",
                              "description": "The last time we received a request from the proxy swarm with TRADE_SPOT for this instrument."
                            },
                            "INSTRUMENT_TRADE_SPOT_FROM_BACKFILL_REST_URI_LAST_REQUEST_TS": {
                              "type": "integer",
                              "description": "The last time we sent a request to the proxy swarm to get TRADE_SPOT for the instrument."
                            },
                            "INSTRUMENT_TRADE_SPOT_FROM_BACKFILL_REST_URI_NEXT_REQUEST_TS": {
                              "type": "integer",
                              "description": "The next time we expect to make a request for TRADE_SPOT on this instrument."
                            },
                            "INSTRUMENT_TRADE_SPOT_FROM_BACKFILL_LAST_PROXIED_REST_REQUEST": {
                              "type": "object",
                              "description": "The last proxied REST request we sent to the proxy swarm to get TRADE_SPOT for the instrument.",
                              "properties": {}
                            },
                            "FIRST_TRADE_SPOT_FROM_BACKFILL": {
                              "type": "object",
                              "description": "This is the first TRADE_SPOT that we have seen on the specific source type in internal format.",
                              "properties": {}
                            },
                            "LAST_TRADE_SPOT_FROM_BACKFILL": {
                              "type": "object",
                              "description": "This is the last TRADE_SPOT that we have seen on the specific source type in internal format.",
                              "properties": {}
                            },
                            "FIRST_TRADE_SPOT_FROM_BACKFILL_EXTERNAL": {
                              "type": "object",
                              "description": "This is the first TRADE_SPOT that we have seen on the specific source type in external format.",
                              "properties": {}
                            },
                            "LAST_TRADE_SPOT_FROM_BACKFILL_EXTERNAL": {
                              "type": "object",
                              "description": "This is the last TRADE_SPOT that we have seen on the specific trade source in external format.",
                              "properties": {}
                            },
                            "UNSTRUCTURED_TRADE_SPOT_FROM_BACKFILL_INTERNAL_DATA": {
                              "type": "object",
                              "description": "This is any extra helper TRADE_SPOT data that we would need for creating polling requests or subscribing with non standard information and anything that is very specific to one exchange API/Integration and it does not fit any of the other existing fields and is definitly only updated or written in only one service.",
                              "properties": {}
                            },
                            "INSTRUMENT_TRADE_SPOT_FROM_FIX_REST_URI_LAST_RESPONSE_TS": {
                              "type": "integer",
                              "description": "The last time we received a request from the proxy swarm with TRADE_SPOT for this instrument."
                            },
                            "INSTRUMENT_TRADE_SPOT_FROM_FIX_REST_URI_LAST_REQUEST_TS": {
                              "type": "integer",
                              "description": "The last time we sent a request to the proxy swarm to get TRADE_SPOT for the instrument."
                            },
                            "INSTRUMENT_TRADE_SPOT_FROM_FIX_REST_URI_NEXT_REQUEST_TS": {
                              "type": "integer",
                              "description": "The next time we expect to make a request for TRADE_SPOT on this instrument."
                            },
                            "INSTRUMENT_TRADE_SPOT_FROM_FIX_LAST_PROXIED_REST_REQUEST": {
                              "type": "object",
                              "description": "The last proxied REST request we sent to the proxy swarm to get TRADE_SPOT for the instrument.",
                              "properties": {}
                            },
                            "FIRST_TRADE_SPOT_FROM_FIX": {
                              "type": "object",
                              "description": "This is the first TRADE_SPOT that we have seen on the specific source type in internal format.",
                              "properties": {}
                            },
                            "LAST_TRADE_SPOT_FROM_FIX": {
                              "type": "object",
                              "description": "This is the last TRADE_SPOT that we have seen on the specific source type in internal format.",
                              "properties": {}
                            },
                            "FIRST_TRADE_SPOT_FROM_FIX_EXTERNAL": {
                              "type": "object",
                              "description": "This is the first TRADE_SPOT that we have seen on the specific source type in external format.",
                              "properties": {}
                            },
                            "LAST_TRADE_SPOT_FROM_FIX_EXTERNAL": {
                              "type": "object",
                              "description": "This is the last TRADE_SPOT that we have seen on the specific trade source in external format.",
                              "properties": {}
                            },
                            "UNSTRUCTURED_TRADE_SPOT_FROM_FIX_INTERNAL_DATA": {
                              "type": "object",
                              "description": "This is any extra helper TRADE_SPOT data that we would need for creating polling requests or subscribing with non standard information and anything that is very specific to one exchange API/Integration and it does not fit any of the other existing fields and is definitly only updated or written in only one service.",
                              "properties": {}
                            },
                            "INSTRUMENT_SOURCE_POLLING": {
                              "type": "string",
                              "description": "Where do we get the instrument id / INSTRUMENT_{messageName}_REST_URI / INSTRUMENT_{messageName}_STREAMING_SUBSCRIPTION etc from."
                            },
                            "INSTRUMENT_SOURCE_STREAMING": {
                              "type": "string",
                              "description": "Where do we get the instrument id / INSTRUMENT_{messageName}_REST_URI / INSTRUMENT_{messageName}_STREAMING_SUBSCRIPTION etc from."
                            },
                            "INSTRUMENT_SOURCE_GO": {
                              "type": "string",
                              "description": "Where do we get the instrument id / INSTRUMENT_{messageName}_REST_URI / INSTRUMENT_{messageName}_STREAMING_SUBSCRIPTION etc from."
                            },
                            "INSTRUMENT_SOURCE_BLOB": {
                              "type": "string",
                              "description": "Where do we get the instrument id / INSTRUMENT_{messageName}_REST_URI / INSTRUMENT_{messageName}_STREAMING_SUBSCRIPTION etc from."
                            },
                            "INSTRUMENT_SOURCE_CALCULATED": {
                              "type": "string",
                              "description": "Where do we get the instrument id / INSTRUMENT_{messageName}_REST_URI / INSTRUMENT_{messageName}_STREAMING_SUBSCRIPTION etc from."
                            },
                            "INSTRUMENT_SOURCE_BACKFILL": {
                              "type": "string",
                              "description": "Where do we get the instrument id / INSTRUMENT_{messageName}_REST_URI / INSTRUMENT_{messageName}_STREAMING_SUBSCRIPTION etc from."
                            },
                            "INSTRUMENT_SOURCE_FIX": {
                              "type": "string",
                              "description": "Where do we get the instrument id / INSTRUMENT_{messageName}_REST_URI / INSTRUMENT_{messageName}_STREAMING_SUBSCRIPTION etc from."
                            },
                            "FIRST_SEEN_ON_POLLING_TS": {
                              "type": "integer",
                              "description": "This is the first time instrument was seen on instrumentListSourceType POLLING."
                            },
                            "LAST_SEEN_ON_POLLING_TS": {
                              "type": "integer",
                              "description": "This is the last time instrument was seen on instrumentListSourceType POLLING."
                            },
                            "FIRST_SEEN_ON_STREAMING_TS": {
                              "type": "integer",
                              "description": "This is the first time instrument was seen on instrumentListSourceType STREAMING."
                            },
                            "LAST_SEEN_ON_STREAMING_TS": {
                              "type": "integer",
                              "description": "This is the last time instrument was seen on instrumentListSourceType STREAMING."
                            },
                            "FIRST_SEEN_ON_NSQ_TS": {
                              "type": "integer",
                              "description": "This is the first time instrument was seen on instrumentListSourceType NSQ."
                            },
                            "LAST_SEEN_ON_NSQ_TS": {
                              "type": "integer",
                              "description": "This is the last time instrument was seen on instrumentListSourceType NSQ."
                            },
                            "FIRST_SEEN_ON_BLOB_TS": {
                              "type": "integer",
                              "description": "This is the first time instrument was seen on instrumentListSourceType BLOB."
                            },
                            "LAST_SEEN_ON_BLOB_TS": {
                              "type": "integer",
                              "description": "This is the last time instrument was seen on instrumentListSourceType BLOB."
                            },
                            "FIRST_SEEN_ON_HARDCODED_TS": {
                              "type": "integer",
                              "description": "This is the first time instrument was seen on instrumentListSourceType HARDCODED."
                            },
                            "LAST_SEEN_ON_HARDCODED_TS": {
                              "type": "integer",
                              "description": "This is the last time instrument was seen on instrumentListSourceType HARDCODED."
                            },
                            "FIRST_SEEN_ON_INDEX_COMPOSITION_TS": {
                              "type": "integer",
                              "description": "This is the first time instrument was seen on instrumentListSourceType INDEX_COMPOSITION."
                            },
                            "LAST_SEEN_ON_INDEX_COMPOSITION_TS": {
                              "type": "integer",
                              "description": "This is the last time instrument was seen on instrumentListSourceType INDEX_COMPOSITION."
                            },
                            "FIRST_SEEN_ON_FIX_TS": {
                              "type": "integer",
                              "description": "This is the first time instrument was seen on instrumentListSourceType FIX."
                            },
                            "LAST_SEEN_ON_FIX_TS": {
                              "type": "integer",
                              "description": "This is the last time instrument was seen on instrumentListSourceType FIX."
                            }
                          }
                        }
                      },
                      "Err": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "integer",
                            "description": "A public facing error type. If you want to treat a specific error use the type.",
                            "format": "int32",
                            "example": 1
                          },
                          "message": {
                            "type": "string",
                            "description": "A message describing the error",
                            "example": "Not found: instruments parameter. One or multiple instruments on coinbase not integrated yet or not supported. Instruments are case sensitive, make sure you check the https://data-api.cryptocompare.com/spot/v1/markets/instruments endpoint for a list of all the supported TRADE_SPOT market and instrument combinations. Invalid instruments: INSTRUMENT-DOES-NOT-EXIST"
                          },
                          "other_info": {
                            "type": "object",
                            "properties": {
                              "param": {
                                "type": "string",
                                "description": "The parameter that is resposible for the error",
                                "example": "instruments"
                              },
                              "values": {
                                "type": "array",
                                "description": "The values resposible for the error",
                                "example": [
                                  "INSTRUMENT-DOES-NOT-EXIST"
                                ],
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "The 400 error occurs when some of the data sent is malformed.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "Data": {
                        "type": "object",
                        "properties": {}
                      },
                      "Err": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "integer",
                            "description": "A public facing error type. If you want to treat a specific error use the type.",
                            "format": "int32",
                            "example": 1
                          },
                          "message": {
                            "type": "string",
                            "description": "A message describing the error",
                            "example": "Not found: market parameter. Value test_market_does_not_exist not integrated yet. We list all markets in lowercase and transform the parameter sent, make sure you check the https://data-api.cryptocompare.com/spot/v1/markets endpoint for a list of all the supported TRADE_SPOT markets"
                          },
                          "other_info": {
                            "type": "object",
                            "properties": {
                              "param": {
                                "type": "string",
                                "description": "The parameter that is resposible for the error",
                                "example": "market"
                              },
                              "values": {
                                "type": "array",
                                "description": "The values resposible for the error",
                                "example": [
                                  "test_market_does_not_exist"
                                ],
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "The 401 error occurs when you don't use a valid API Key on an endpoint that requires authetication.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "Data": {
                        "type": "object",
                        "properties": {}
                      },
                      "Err": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "integer",
                            "description": "A public facing error type. If you want to treat a specific error use the type.",
                            "format": "int32",
                            "example": 1
                          },
                          "message": {
                            "type": "string",
                            "description": "A message describing the error",
                            "example": "Not found: market parameter. Value test_market_does_not_exist not integrated yet. We list all markets in lowercase and transform the parameter sent, make sure you check the https://data-api.cryptocompare.com/spot/v1/markets endpoint for a list of all the supported TRADE_SPOT markets"
                          },
                          "other_info": {
                            "type": "object",
                            "properties": {
                              "param": {
                                "type": "string",
                                "description": "The parameter that is resposible for the error",
                                "example": "market"
                              },
                              "values": {
                                "type": "array",
                                "description": "The values resposible for the error",
                                "example": [
                                  "test_market_does_not_exist"
                                ],
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "403": {
              "description": "The 403 error occurs when you don't use a valid API Key on an endpoint that requires authetication.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "Data": {
                        "type": "object",
                        "properties": {}
                      },
                      "Err": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "integer",
                            "description": "A public facing error type. If you want to treat a specific error use the type.",
                            "format": "int32",
                            "example": 1
                          },
                          "message": {
                            "type": "string",
                            "description": "A message describing the error",
                            "example": "Not found: market parameter. Value test_market_does_not_exist not integrated yet. We list all markets in lowercase and transform the parameter sent, make sure you check the https://data-api.cryptocompare.com/spot/v1/markets endpoint for a list of all the supported TRADE_SPOT markets"
                          },
                          "other_info": {
                            "type": "object",
                            "properties": {
                              "param": {
                                "type": "string",
                                "description": "The parameter that is resposible for the error",
                                "example": "market"
                              },
                              "values": {
                                "type": "array",
                                "description": "The values resposible for the error",
                                "example": [
                                  "test_market_does_not_exist"
                                ],
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "404": {
              "description": "The 404 error can either be returned when some/all of parameters sent are not found within our system. This could be beacuse parameters like market, instrument, news source, symbol, asset_id etc. are invalid",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "Data": {
                        "type": "object",
                        "properties": {}
                      },
                      "Err": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "integer",
                            "description": "A public facing error type. If you want to treat a specific error use the type.",
                            "format": "int32",
                            "example": 1
                          },
                          "message": {
                            "type": "string",
                            "description": "A message describing the error",
                            "example": "Not found: market parameter. Value test_market_does_not_exist not integrated yet. We list all markets in lowercase and transform the parameter sent, make sure you check the https://data-api.cryptocompare.com/spot/v1/markets endpoint for a list of all the supported TRADE_SPOT markets"
                          },
                          "other_info": {
                            "type": "object",
                            "properties": {
                              "param": {
                                "type": "string",
                                "description": "The parameter that is resposible for the error",
                                "example": "market"
                              },
                              "values": {
                                "type": "array",
                                "description": "The values resposible for the error",
                                "example": [
                                  "test_market_does_not_exist"
                                ],
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "405": {
              "description": "The 405 error occurs the user tries to use a http method (GET,POST,PUT etc) that is not supported.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "Data": {
                        "type": "object",
                        "properties": {}
                      },
                      "Err": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "integer",
                            "description": "A public facing error type. If you want to treat a specific error use the type.",
                            "format": "int32",
                            "example": 1
                          },
                          "message": {
                            "type": "string",
                            "description": "A message describing the error",
                            "example": "Not found: market parameter. Value test_market_does_not_exist not integrated yet. We list all markets in lowercase and transform the parameter sent, make sure you check the https://data-api.cryptocompare.com/spot/v1/markets endpoint for a list of all the supported TRADE_SPOT markets"
                          },
                          "other_info": {
                            "type": "object",
                            "properties": {
                              "param": {
                                "type": "string",
                                "description": "The parameter that is resposible for the error",
                                "example": "market"
                              },
                              "values": {
                                "type": "array",
                                "description": "The values resposible for the error",
                                "example": [
                                  "test_market_does_not_exist"
                                ],
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "429": {
              "description": "The 429 error occurs when you go over the API Key limit. Rate limits are eforced on a second (resets every second), minute (resers every minute), hour (resets every hour), day (resets every day) and month (resets every month) granularity. You can upgrade your account and access higher rate limits.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "Data": {
                        "type": "object",
                        "properties": {}
                      },
                      "Err": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "integer",
                            "description": "A public facing error type. If you want to treat a specific error use the type.",
                            "format": "int32",
                            "example": 1
                          },
                          "message": {
                            "type": "string",
                            "description": "A message describing the error",
                            "example": "Not found: market parameter. Value test_market_does_not_exist not integrated yet. We list all markets in lowercase and transform the parameter sent, make sure you check the https://data-api.cryptocompare.com/spot/v1/markets endpoint for a list of all the supported TRADE_SPOT markets"
                          },
                          "other_info": {
                            "type": "object",
                            "properties": {
                              "param": {
                                "type": "string",
                                "description": "The parameter that is resposible for the error",
                                "example": "market"
                              },
                              "values": {
                                "type": "array",
                                "description": "The values resposible for the error",
                                "example": [
                                  "test_market_does_not_exist"
                                ],
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "500": {
              "description": "The 500 error occurs our API is up but does not know how to / can't handle the request.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "Data": {
                        "type": "object",
                        "properties": {}
                      },
                      "Err": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "integer",
                            "description": "A public facing error type. If you want to treat a specific error use the type.",
                            "format": "int32",
                            "example": 1
                          },
                          "message": {
                            "type": "string",
                            "description": "A message describing the error",
                            "example": "Not found: market parameter. Value test_market_does_not_exist not integrated yet. We list all markets in lowercase and transform the parameter sent, make sure you check the https://data-api.cryptocompare.com/spot/v1/markets endpoint for a list of all the supported TRADE_SPOT markets"
                          },
                          "other_info": {
                            "type": "object",
                            "properties": {
                              "param": {
                                "type": "string",
                                "description": "The parameter that is resposible for the error",
                                "example": "market"
                              },
                              "values": {
                                "type": "array",
                                "description": "The values resposible for the error",
                                "example": [
                                  "test_market_does_not_exist"
                                ],
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "502": {
              "description": "The 502 error occurs when our API is not running. This error is returned by our proxy / load balancer.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "Data": {
                        "type": "object",
                        "properties": {}
                      },
                      "Err": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "integer",
                            "description": "A public facing error type. If you want to treat a specific error use the type.",
                            "format": "int32",
                            "example": 1
                          },
                          "message": {
                            "type": "string",
                            "description": "A message describing the error",
                            "example": "Not found: market parameter. Value test_market_does_not_exist not integrated yet. We list all markets in lowercase and transform the parameter sent, make sure you check the https://data-api.cryptocompare.com/spot/v1/markets endpoint for a list of all the supported TRADE_SPOT markets"
                          },
                          "other_info": {
                            "type": "object",
                            "properties": {
                              "param": {
                                "type": "string",
                                "description": "The parameter that is resposible for the error",
                                "example": "market"
                              },
                              "values": {
                                "type": "array",
                                "description": "The values resposible for the error",
                                "example": [
                                  "test_market_does_not_exist"
                                ],
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "503": {
              "description": "The 503 error occurs when there is an issue with one of our data sources and we can't even return a partial answer.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "Data": {
                        "type": "object",
                        "properties": {}
                      },
                      "Err": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "integer",
                            "description": "A public facing error type. If you want to treat a specific error use the type.",
                            "format": "int32",
                            "example": 1
                          },
                          "message": {
                            "type": "string",
                            "description": "A message describing the error",
                            "example": "Not found: market parameter. Value test_market_does_not_exist not integrated yet. We list all markets in lowercase and transform the parameter sent, make sure you check the https://data-api.cryptocompare.com/spot/v1/markets endpoint for a list of all the supported TRADE_SPOT markets"
                          },
                          "other_info": {
                            "type": "object",
                            "properties": {
                              "param": {
                                "type": "string",
                                "description": "The parameter that is resposible for the error",
                                "example": "market"
                              },
                              "values": {
                                "type": "array",
                                "description": "The values resposible for the error",
                                "example": [
                                  "test_market_does_not_exist"
                                ],
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/spot/v1/markets": {
        "summary": "Markets",
        "description": "",
        "get": {
          "tags": [
            "Spot"
          ],
          "operationId": "spot_v1_markets",
          "x-section": "Spot",
          "x-subsection": "General",
          "parameters": [
            {
              "name": "market",
              "in": "query",
              "description": "The exchange to obtain data from",
              "required": false,
              "explode": false,
              "style": "form",
              "deprecated": false,
              "schema": {
                "type": "string",
                "default": "",
                "minLength": 0,
                "maxLength": 30
              }
            }
          ],
          "deprecated": false,
          "responses": {
            "200": {
              "description": "Success response from the API.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "Data": {
                        "type": "object",
                        "properties": {
                          "NO_DATA": {
                            "type": "string",
                            "description": "The endpoint does not have a reponse defined",
                            "example": "Please add a ResponseObject on the endpoint!"
                          }
                        }
                      },
                      "Err": {
                        "type": "object",
                        "properties": {}
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "The 400 error occurs when some of the data sent is malformed.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "Data": {
                        "type": "object",
                        "properties": {}
                      },
                      "Err": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "integer",
                            "description": "A public facing error type. If you want to treat a specific error use the type.",
                            "format": "int32",
                            "example": 1
                          },
                          "message": {
                            "type": "string",
                            "description": "A message describing the error",
                            "example": "Not found: market parameter. Value test_market_does_not_exist not integrated yet. We list all markets in lowercase and transform the parameter sent, make sure you check the https://data-api.cryptocompare.com/spot/v1/markets endpoint for a list of all the supported TRADE_SPOT markets"
                          },
                          "other_info": {
                            "type": "object",
                            "properties": {
                              "param": {
                                "type": "string",
                                "description": "The parameter that is resposible for the error",
                                "example": "market"
                              },
                              "values": {
                                "type": "array",
                                "description": "The values resposible for the error",
                                "example": [
                                  "test_market_does_not_exist"
                                ],
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "The 401 error occurs when you don't use a valid API Key on an endpoint that requires authetication.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "Data": {
                        "type": "object",
                        "properties": {}
                      },
                      "Err": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "integer",
                            "description": "A public facing error type. If you want to treat a specific error use the type.",
                            "format": "int32",
                            "example": 1
                          },
                          "message": {
                            "type": "string",
                            "description": "A message describing the error",
                            "example": "Not found: market parameter. Value test_market_does_not_exist not integrated yet. We list all markets in lowercase and transform the parameter sent, make sure you check the https://data-api.cryptocompare.com/spot/v1/markets endpoint for a list of all the supported TRADE_SPOT markets"
                          },
                          "other_info": {
                            "type": "object",
                            "properties": {
                              "param": {
                                "type": "string",
                                "description": "The parameter that is resposible for the error",
                                "example": "market"
                              },
                              "values": {
                                "type": "array",
                                "description": "The values resposible for the error",
                                "example": [
                                  "test_market_does_not_exist"
                                ],
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "403": {
              "description": "The 403 error occurs when you don't use a valid API Key on an endpoint that requires authetication.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "Data": {
                        "type": "object",
                        "properties": {}
                      },
                      "Err": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "integer",
                            "description": "A public facing error type. If you want to treat a specific error use the type.",
                            "format": "int32",
                            "example": 1
                          },
                          "message": {
                            "type": "string",
                            "description": "A message describing the error",
                            "example": "Not found: market parameter. Value test_market_does_not_exist not integrated yet. We list all markets in lowercase and transform the parameter sent, make sure you check the https://data-api.cryptocompare.com/spot/v1/markets endpoint for a list of all the supported TRADE_SPOT markets"
                          },
                          "other_info": {
                            "type": "object",
                            "properties": {
                              "param": {
                                "type": "string",
                                "description": "The parameter that is resposible for the error",
                                "example": "market"
                              },
                              "values": {
                                "type": "array",
                                "description": "The values resposible for the error",
                                "example": [
                                  "test_market_does_not_exist"
                                ],
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "404": {
              "description": "The 404 error can either be returned when some/all of parameters sent are not found within our system. This could be beacuse parameters like market, instrument, news source, symbol, asset_id etc. are invalid",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "Data": {
                        "type": "object",
                        "properties": {}
                      },
                      "Err": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "integer",
                            "description": "A public facing error type. If you want to treat a specific error use the type.",
                            "format": "int32",
                            "example": 1
                          },
                          "message": {
                            "type": "string",
                            "description": "A message describing the error",
                            "example": "Not found: market parameter. Value test_market_does_not_exist not integrated yet. We list all markets in lowercase and transform the parameter sent, make sure you check the https://data-api.cryptocompare.com/spot/v1/markets endpoint for a list of all the supported TRADE_SPOT markets"
                          },
                          "other_info": {
                            "type": "object",
                            "properties": {
                              "param": {
                                "type": "string",
                                "description": "The parameter that is resposible for the error",
                                "example": "market"
                              },
                              "values": {
                                "type": "array",
                                "description": "The values resposible for the error",
                                "example": [
                                  "test_market_does_not_exist"
                                ],
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "405": {
              "description": "The 405 error occurs the user tries to use a http method (GET,POST,PUT etc) that is not supported.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "Data": {
                        "type": "object",
                        "properties": {}
                      },
                      "Err": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "integer",
                            "description": "A public facing error type. If you want to treat a specific error use the type.",
                            "format": "int32",
                            "example": 1
                          },
                          "message": {
                            "type": "string",
                            "description": "A message describing the error",
                            "example": "Not found: market parameter. Value test_market_does_not_exist not integrated yet. We list all markets in lowercase and transform the parameter sent, make sure you check the https://data-api.cryptocompare.com/spot/v1/markets endpoint for a list of all the supported TRADE_SPOT markets"
                          },
                          "other_info": {
                            "type": "object",
                            "properties": {
                              "param": {
                                "type": "string",
                                "description": "The parameter that is resposible for the error",
                                "example": "market"
                              },
                              "values": {
                                "type": "array",
                                "description": "The values resposible for the error",
                                "example": [
                                  "test_market_does_not_exist"
                                ],
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "429": {
              "description": "The 429 error occurs when you go over the API Key limit. Rate limits are eforced on a second (resets every second), minute (resers every minute), hour (resets every hour), day (resets every day) and month (resets every month) granularity. You can upgrade your account and access higher rate limits.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "Data": {
                        "type": "object",
                        "properties": {}
                      },
                      "Err": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "integer",
                            "description": "A public facing error type. If you want to treat a specific error use the type.",
                            "format": "int32",
                            "example": 1
                          },
                          "message": {
                            "type": "string",
                            "description": "A message describing the error",
                            "example": "Not found: market parameter. Value test_market_does_not_exist not integrated yet. We list all markets in lowercase and transform the parameter sent, make sure you check the https://data-api.cryptocompare.com/spot/v1/markets endpoint for a list of all the supported TRADE_SPOT markets"
                          },
                          "other_info": {
                            "type": "object",
                            "properties": {
                              "param": {
                                "type": "string",
                                "description": "The parameter that is resposible for the error",
                                "example": "market"
                              },
                              "values": {
                                "type": "array",
                                "description": "The values resposible for the error",
                                "example": [
                                  "test_market_does_not_exist"
                                ],
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "500": {
              "description": "The 500 error occurs our API is up but does not know how to / can't handle the request.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "Data": {
                        "type": "object",
                        "properties": {}
                      },
                      "Err": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "integer",
                            "description": "A public facing error type. If you want to treat a specific error use the type.",
                            "format": "int32",
                            "example": 1
                          },
                          "message": {
                            "type": "string",
                            "description": "A message describing the error",
                            "example": "Not found: market parameter. Value test_market_does_not_exist not integrated yet. We list all markets in lowercase and transform the parameter sent, make sure you check the https://data-api.cryptocompare.com/spot/v1/markets endpoint for a list of all the supported TRADE_SPOT markets"
                          },
                          "other_info": {
                            "type": "object",
                            "properties": {
                              "param": {
                                "type": "string",
                                "description": "The parameter that is resposible for the error",
                                "example": "market"
                              },
                              "values": {
                                "type": "array",
                                "description": "The values resposible for the error",
                                "example": [
                                  "test_market_does_not_exist"
                                ],
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "502": {
              "description": "The 502 error occurs when our API is not running. This error is returned by our proxy / load balancer.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "Data": {
                        "type": "object",
                        "properties": {}
                      },
                      "Err": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "integer",
                            "description": "A public facing error type. If you want to treat a specific error use the type.",
                            "format": "int32",
                            "example": 1
                          },
                          "message": {
                            "type": "string",
                            "description": "A message describing the error",
                            "example": "Not found: market parameter. Value test_market_does_not_exist not integrated yet. We list all markets in lowercase and transform the parameter sent, make sure you check the https://data-api.cryptocompare.com/spot/v1/markets endpoint for a list of all the supported TRADE_SPOT markets"
                          },
                          "other_info": {
                            "type": "object",
                            "properties": {
                              "param": {
                                "type": "string",
                                "description": "The parameter that is resposible for the error",
                                "example": "market"
                              },
                              "values": {
                                "type": "array",
                                "description": "The values resposible for the error",
                                "example": [
                                  "test_market_does_not_exist"
                                ],
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "503": {
              "description": "The 503 error occurs when there is an issue with one of our data sources and we can't even return a partial answer.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "Data": {
                        "type": "object",
                        "properties": {}
                      },
                      "Err": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "integer",
                            "description": "A public facing error type. If you want to treat a specific error use the type.",
                            "format": "int32",
                            "example": 1
                          },
                          "message": {
                            "type": "string",
                            "description": "A message describing the error",
                            "example": "Not found: market parameter. Value test_market_does_not_exist not integrated yet. We list all markets in lowercase and transform the parameter sent, make sure you check the https://data-api.cryptocompare.com/spot/v1/markets endpoint for a list of all the supported TRADE_SPOT markets"
                          },
                          "other_info": {
                            "type": "object",
                            "properties": {
                              "param": {
                                "type": "string",
                                "description": "The parameter that is resposible for the error",
                                "example": "market"
                              },
                              "values": {
                                "type": "array",
                                "description": "The values resposible for the error",
                                "example": [
                                  "test_market_does_not_exist"
                                ],
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/spot/v1/markets/instruments": {
        "summary": "Markets + Instruments",
        "description": "",
        "get": {
          "tags": [
            "Spot"
          ],
          "operationId": "spot_v1_markets_instruments",
          "x-section": "Spot",
          "x-subsection": "General",
          "parameters": [
            {
              "name": "market",
              "in": "query",
              "description": "The exchange to obtain data from",
              "required": false,
              "explode": false,
              "style": "form",
              "deprecated": false,
              "schema": {
                "type": "string",
                "default": "",
                "minLength": 0,
                "maxLength": 30
              }
            },
            {
              "name": "instrument",
              "in": "query",
              "description": "The mapped instrument to retrieve on a specific market.",
              "required": false,
              "explode": false,
              "style": "form",
              "deprecated": false,
              "schema": {
                "type": "string",
                "default": "",
                "minLength": 0,
                "maxLength": 30
              }
            },
            {
              "name": "instrument_status",
              "in": "query",
              "description": "The status of the instrument, can be one of the following: ACTIVE, IGNORED, RETIRED, EXPIRED",
              "required": false,
              "explode": false,
              "style": "form",
              "deprecated": false,
              "schema": {
                "type": "array",
                "default": [
                  "ACTIVE",
                  "IGNORED",
                  "RETIRED",
                  "EXPIRED"
                ],
                "items": {
                  "type": "string",
                  "enum": [
                    "ACTIVE",
                    "IGNORED",
                    "RETIRED",
                    "EXPIRED"
                  ]
                }
              }
            }
          ],
          "deprecated": false,
          "responses": {
            "200": {
              "description": "Success response from the API.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "Data": {
                        "type": "object",
                        "properties": {
                          "NO_DATA": {
                            "type": "string",
                            "description": "The endpoint does not have a reponse defined",
                            "example": "Please add a ResponseObject on the endpoint!"
                          }
                        }
                      },
                      "Err": {
                        "type": "object",
                        "properties": {}
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "The 400 error occurs when some of the data sent is malformed.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "Data": {
                        "type": "object",
                        "properties": {}
                      },
                      "Err": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "integer",
                            "description": "A public facing error type. If you want to treat a specific error use the type.",
                            "format": "int32",
                            "example": 1
                          },
                          "message": {
                            "type": "string",
                            "description": "A message describing the error",
                            "example": "Not found: market parameter. Value test_market_does_not_exist not integrated yet. We list all markets in lowercase and transform the parameter sent, make sure you check the https://data-api.cryptocompare.com/spot/v1/markets endpoint for a list of all the supported TRADE_SPOT markets"
                          },
                          "other_info": {
                            "type": "object",
                            "properties": {
                              "param": {
                                "type": "string",
                                "description": "The parameter that is resposible for the error",
                                "example": "market"
                              },
                              "values": {
                                "type": "array",
                                "description": "The values resposible for the error",
                                "example": [
                                  "test_market_does_not_exist"
                                ],
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "The 401 error occurs when you don't use a valid API Key on an endpoint that requires authetication.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "Data": {
                        "type": "object",
                        "properties": {}
                      },
                      "Err": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "integer",
                            "description": "A public facing error type. If you want to treat a specific error use the type.",
                            "format": "int32",
                            "example": 1
                          },
                          "message": {
                            "type": "string",
                            "description": "A message describing the error",
                            "example": "Not found: market parameter. Value test_market_does_not_exist not integrated yet. We list all markets in lowercase and transform the parameter sent, make sure you check the https://data-api.cryptocompare.com/spot/v1/markets endpoint for a list of all the supported TRADE_SPOT markets"
                          },
                          "other_info": {
                            "type": "object",
                            "properties": {
                              "param": {
                                "type": "string",
                                "description": "The parameter that is resposible for the error",
                                "example": "market"
                              },
                              "values": {
                                "type": "array",
                                "description": "The values resposible for the error",
                                "example": [
                                  "test_market_does_not_exist"
                                ],
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "403": {
              "description": "The 403 error occurs when you don't use a valid API Key on an endpoint that requires authetication.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "Data": {
                        "type": "object",
                        "properties": {}
                      },
                      "Err": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "integer",
                            "description": "A public facing error type. If you want to treat a specific error use the type.",
                            "format": "int32",
                            "example": 1
                          },
                          "message": {
                            "type": "string",
                            "description": "A message describing the error",
                            "example": "Not found: market parameter. Value test_market_does_not_exist not integrated yet. We list all markets in lowercase and transform the parameter sent, make sure you check the https://data-api.cryptocompare.com/spot/v1/markets endpoint for a list of all the supported TRADE_SPOT markets"
                          },
                          "other_info": {
                            "type": "object",
                            "properties": {
                              "param": {
                                "type": "string",
                                "description": "The parameter that is resposible for the error",
                                "example": "market"
                              },
                              "values": {
                                "type": "array",
                                "description": "The values resposible for the error",
                                "example": [
                                  "test_market_does_not_exist"
                                ],
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "404": {
              "description": "The 404 error can either be returned when some/all of parameters sent are not found within our system. This could be beacuse parameters like market, instrument, news source, symbol, asset_id etc. are invalid",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "Data": {
                        "type": "object",
                        "properties": {}
                      },
                      "Err": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "integer",
[...]
