=begin
#CryptoCompare Market, Index, Reference Data, News and Overview Metrcis API for the Cryptocurrency Industry

#CryptoCompare is the world's leading digital asset data company, providing services that cater to corporate, government and retail clients. Our main reference index is widely recognized as a reliable benchmark, and we have been authorized by the Financial Conduct Authority (FCA) in the United Kingdom to operate as a benchmark administrator. In addition to catering to corporate, government, and retail clients, we offer a range of services including comprehensive market data for cryptocurrency exchanges in both the centralized and decentralized finance sectors, as well as individual asset data on custodians, supported platforms, and privacy solutions. Our offerings include price, volume, trade, and orderbook updates, as well as historical OHLCV data.

The version of the OpenAPI document: 2.1.1
Contact: data@cryptocompare.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.3.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class NewsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :source_ids Get articles from specific sources; either by their ids or keys
    # @option opts [String] :lang The article Preferred language - English (EN), Portuguese (PT), Espanol (ES) (default to 'EN')
    # @option opts [Array<String>] :categories News article categories to return
    # @option opts [Array<String>] :exclude_categories News article categories to exclude from results
    # @option opts [Integer] :to_ts Articles published on or before this timestamp (default to -1)
    # @return [GENERICRESPONSE]
    def news_v1_article_list(opts = {})
      data, _status_code, _headers = news_v1_article_list_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :source_ids Get articles from specific sources; either by their ids or keys
    # @option opts [String] :lang The article Preferred language - English (EN), Portuguese (PT), Espanol (ES) (default to 'EN')
    # @option opts [Array<String>] :categories News article categories to return
    # @option opts [Array<String>] :exclude_categories News article categories to exclude from results
    # @option opts [Integer] :to_ts Articles published on or before this timestamp (default to -1)
    # @return [Array<(GENERICRESPONSE, Integer, Hash)>] GENERICRESPONSE data, response status code and response headers
    def news_v1_article_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NewsApi.news_v1_article_list ...'
      end
      allowable_values = ["EN", "ES", "PT", ""]
      if @api_client.config.client_side_validation && opts[:'lang'] && !allowable_values.include?(opts[:'lang'])
        fail ArgumentError, "invalid value for \"lang\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'lang'].nil? && opts[:'lang'].to_s.length < 1
        fail ArgumentError, 'invalid value for "opts[:"lang"]" when calling NewsApi.news_v1_article_list, the character length must be great than or equal to 1.'
      end

      allowable_values = ["1INCH", "AAVE", "ADA", "ALGO", "ALTCOIN", "ASIA", "ATOM", "AVAX", "AXS", "BAL", "BAT", "BCH", "BLOCKCHAIN", "BTC", "BUSINESS", "COMMODITY", "COMP", "CRV", "DASH", "DOGE", "DOT", "ENJ", "ETC", "ETH", "EXCHANGE", "FIAT", "FIL", "FTM", "ICO", "KNC", "LINK", "LRC", "LTC", "LUNA", "LUNC", "MANA", "MARKET", "MATIC", "MINING", "MKR", "REGULATION", "REN", "SAND", "SHIB", "SNX", "SOL", "SPONSORED", "SUSHI", "TECHNOLOGY", "TRADING", "TRX", "UMA", "UNI", "USDT", "WALLET", "XLM", "XMR", "XRP", "XTZ", "YFI", "ZEC", "ZRX", ""]
      if @api_client.config.client_side_validation && opts[:'categories'] && !opts[:'categories'].all? { |item| allowable_values.include?(item) }
        fail ArgumentError, "invalid value for \"categories\", must include one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'categories'].nil? && opts[:'categories'].length > 200
        fail ArgumentError, 'invalid value for "opts[:"categories"]" when calling NewsApi.news_v1_article_list, number of items must be less than or equal to 200.'
      end

      allowable_values = ["1INCH", "AAVE", "ADA", "ALGO", "ALTCOIN", "ASIA", "ATOM", "AVAX", "AXS", "BAL", "BAT", "BCH", "BLOCKCHAIN", "BTC", "BUSINESS", "COMMODITY", "COMP", "CRV", "DASH", "DOGE", "DOT", "ENJ", "ETC", "ETH", "EXCHANGE", "FIAT", "FIL", "FTM", "ICO", "KNC", "LINK", "LRC", "LTC", "LUNA", "LUNC", "MANA", "MARKET", "MATIC", "MINING", "MKR", "REGULATION", "REN", "SAND", "SHIB", "SNX", "SOL", "SPONSORED", "SUSHI", "TECHNOLOGY", "TRADING", "TRX", "UMA", "UNI", "USDT", "WALLET", "XLM", "XMR", "XRP", "XTZ", "YFI", "ZEC", "ZRX", ""]
      if @api_client.config.client_side_validation && opts[:'exclude_categories'] && !opts[:'exclude_categories'].all? { |item| allowable_values.include?(item) }
        fail ArgumentError, "invalid value for \"exclude_categories\", must include one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'exclude_categories'].nil? && opts[:'exclude_categories'].length > 200
        fail ArgumentError, 'invalid value for "opts[:"exclude_categories"]" when calling NewsApi.news_v1_article_list, number of items must be less than or equal to 200.'
      end

      # resource path
      local_var_path = '/news/v1/article/list'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'source_ids'] = @api_client.build_collection_param(opts[:'source_ids'], :csv) if !opts[:'source_ids'].nil?
      query_params[:'lang'] = opts[:'lang'] if !opts[:'lang'].nil?
      query_params[:'categories'] = @api_client.build_collection_param(opts[:'categories'], :csv) if !opts[:'categories'].nil?
      query_params[:'exclude_categories'] = @api_client.build_collection_param(opts[:'exclude_categories'], :csv) if !opts[:'exclude_categories'].nil?
      query_params[:'to_ts'] = opts[:'to_ts'] if !opts[:'to_ts'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GENERICRESPONSE'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"NewsApi.news_v1_article_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NewsApi#news_v1_article_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @return [GENERICRESPONSE]
    def news_v1_category_list(opts = {})
      data, _status_code, _headers = news_v1_category_list_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(GENERICRESPONSE, Integer, Hash)>] GENERICRESPONSE data, response status code and response headers
    def news_v1_category_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NewsApi.news_v1_category_list ...'
      end
      # resource path
      local_var_path = '/news/v1/category/list'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GENERICRESPONSE'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"NewsApi.news_v1_category_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NewsApi#news_v1_category_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :lang The article source Preferred language - English (EN), Portuguese (PT), Espanol (ES) (default to 'EN')
    # @option opts [String] :type RSS, API, TWITTER (default to 'RSS')
    # @option opts [String] :status The status for the  article source entry. Allowed values: ACTIVE, INACTIVE (default to 'ACTIVE')
    # @return [GENERICRESPONSE]
    def news_v1_source_list(opts = {})
      data, _status_code, _headers = news_v1_source_list_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :lang The article source Preferred language - English (EN), Portuguese (PT), Espanol (ES) (default to 'EN')
    # @option opts [String] :type RSS, API, TWITTER (default to 'RSS')
    # @option opts [String] :status The status for the  article source entry. Allowed values: ACTIVE, INACTIVE (default to 'ACTIVE')
    # @return [Array<(GENERICRESPONSE, Integer, Hash)>] GENERICRESPONSE data, response status code and response headers
    def news_v1_source_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NewsApi.news_v1_source_list ...'
      end
      allowable_values = ["EN", "ES", "PT", ""]
      if @api_client.config.client_side_validation && opts[:'lang'] && !allowable_values.include?(opts[:'lang'])
        fail ArgumentError, "invalid value for \"lang\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'lang'].nil? && opts[:'lang'].to_s.length < 1
        fail ArgumentError, 'invalid value for "opts[:"lang"]" when calling NewsApi.news_v1_source_list, the character length must be great than or equal to 1.'
      end

      allowable_values = ["RSS", "API", "TWITTER", ""]
      if @api_client.config.client_side_validation && opts[:'type'] && !allowable_values.include?(opts[:'type'])
        fail ArgumentError, "invalid value for \"type\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'type'].nil? && opts[:'type'].to_s.length < 1
        fail ArgumentError, 'invalid value for "opts[:"type"]" when calling NewsApi.news_v1_source_list, the character length must be great than or equal to 1.'
      end

      allowable_values = ["ACTIVE", "INACTIVE", ""]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'status'].nil? && opts[:'status'].to_s.length < 1
        fail ArgumentError, 'invalid value for "opts[:"status"]" when calling NewsApi.news_v1_source_list, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/news/v1/source/list'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'lang'] = opts[:'lang'] if !opts[:'lang'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GENERICRESPONSE'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"NewsApi.news_v1_source_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NewsApi#news_v1_source_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
