"""
    CryptoCompare Market, Index, Reference Data, News and Overview Metrcis API for the Cryptocurrency Industry

    CryptoCompare is the world's leading digital asset data company, providing services that cater to corporate, government and retail clients. Our main reference index is widely recognized as a reliable benchmark, and we have been authorized by the Financial Conduct Authority (FCA) in the United Kingdom to operate as a benchmark administrator. In addition to catering to corporate, government, and retail clients, we offer a range of services including comprehensive market data for cryptocurrency exchanges in both the centralized and decentralized finance sectors, as well as individual asset data on custodians, supported platforms, and privacy solutions. Our offerings include price, volume, trade, and orderbook updates, as well as historical OHLCV data.  # noqa: E501

    The version of the OpenAPI document: 2.1.1
    Contact: data@cryptocompare.com
    Generated by: https://openapi-generator.tech
"""


import re  # noqa: F401
import sys  # noqa: F401

from openapi_client.api_client import ApiClient, Endpoint as _Endpoint
from openapi_client.model_utils import (  # noqa: F401
    check_allowed_values,
    check_validations,
    date,
    datetime,
    file_type,
    none_type,
    validate_and_convert_types
)
from openapi_client.model.error import Error
from openapi_client.model.genericresponse import GENERICRESPONSE


class NewsApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client
        self.news_v1_article_list_endpoint = _Endpoint(
            settings={
                'response_type': (GENERICRESPONSE,),
                'auth': [],
                'endpoint_path': '/news/v1/article/list',
                'operation_id': 'news_v1_article_list',
                'http_method': 'GET',
                'servers': None,
            },
            params_map={
                'all': [
                    'source_ids',
                    'lang',
                    'categories',
                    'exclude_categories',
                    'to_ts',
                ],
                'required': [],
                'nullable': [
                ],
                'enum': [
                    'lang',
                    'categories',
                    'exclude_categories',
                ],
                'validation': [
                    'lang',
                    'categories',
                    'exclude_categories',
                ]
            },
            root_map={
                'validations': {
                    ('lang',): {

                        'min_length': 1,
                    },
                    ('categories',): {

                        'max_items': 200,
                    },
                    ('exclude_categories',): {

                        'max_items': 200,
                    },
                },
                'allowed_values': {
                    ('lang',): {

                        "EN": "EN",
                        "ES": "ES",
                        "PT": "PT",
                        "EMPTY": ""
                    },
                    ('categories',): {

                        "1INCH": "1INCH",
                        "AAVE": "AAVE",
                        "ADA": "ADA",
                        "ALGO": "ALGO",
                        "ALTCOIN": "ALTCOIN",
                        "ASIA": "ASIA",
                        "ATOM": "ATOM",
                        "AVAX": "AVAX",
                        "AXS": "AXS",
                        "BAL": "BAL",
                        "BAT": "BAT",
                        "BCH": "BCH",
                        "BLOCKCHAIN": "BLOCKCHAIN",
                        "BTC": "BTC",
                        "BUSINESS": "BUSINESS",
                        "COMMODITY": "COMMODITY",
                        "COMP": "COMP",
                        "CRV": "CRV",
                        "DASH": "DASH",
                        "DOGE": "DOGE",
                        "DOT": "DOT",
                        "ENJ": "ENJ",
                        "ETC": "ETC",
                        "ETH": "ETH",
                        "EXCHANGE": "EXCHANGE",
                        "FIAT": "FIAT",
                        "FIL": "FIL",
                        "FTM": "FTM",
                        "ICO": "ICO",
                        "KNC": "KNC",
                        "LINK": "LINK",
                        "LRC": "LRC",
                        "LTC": "LTC",
                        "LUNA": "LUNA",
                        "LUNC": "LUNC",
                        "MANA": "MANA",
                        "MARKET": "MARKET",
                        "MATIC": "MATIC",
                        "MINING": "MINING",
                        "MKR": "MKR",
                        "REGULATION": "REGULATION",
                        "REN": "REN",
                        "SAND": "SAND",
                        "SHIB": "SHIB",
                        "SNX": "SNX",
                        "SOL": "SOL",
                        "SPONSORED": "SPONSORED",
                        "SUSHI": "SUSHI",
                        "TECHNOLOGY": "TECHNOLOGY",
                        "TRADING": "TRADING",
                        "TRX": "TRX",
                        "UMA": "UMA",
                        "UNI": "UNI",
                        "USDT": "USDT",
                        "WALLET": "WALLET",
                        "XLM": "XLM",
                        "XMR": "XMR",
                        "XRP": "XRP",
                        "XTZ": "XTZ",
                        "YFI": "YFI",
                        "ZEC": "ZEC",
                        "ZRX": "ZRX",
                        "EMPTY": ""
                    },
                    ('exclude_categories',): {

                        "1INCH": "1INCH",
                        "AAVE": "AAVE",
                        "ADA": "ADA",
                        "ALGO": "ALGO",
                        "ALTCOIN": "ALTCOIN",
                        "ASIA": "ASIA",
                        "ATOM": "ATOM",
                        "AVAX": "AVAX",
                        "AXS": "AXS",
                        "BAL": "BAL",
                        "BAT": "BAT",
                        "BCH": "BCH",
                        "BLOCKCHAIN": "BLOCKCHAIN",
                        "BTC": "BTC",
                        "BUSINESS": "BUSINESS",
                        "COMMODITY": "COMMODITY",
                        "COMP": "COMP",
                        "CRV": "CRV",
                        "DASH": "DASH",
                        "DOGE": "DOGE",
                        "DOT": "DOT",
                        "ENJ": "ENJ",
                        "ETC": "ETC",
                        "ETH": "ETH",
                        "EXCHANGE": "EXCHANGE",
                        "FIAT": "FIAT",
                        "FIL": "FIL",
                        "FTM": "FTM",
                        "ICO": "ICO",
                        "KNC": "KNC",
                        "LINK": "LINK",
                        "LRC": "LRC",
                        "LTC": "LTC",
                        "LUNA": "LUNA",
                        "LUNC": "LUNC",
                        "MANA": "MANA",
                        "MARKET": "MARKET",
                        "MATIC": "MATIC",
                        "MINING": "MINING",
                        "MKR": "MKR",
                        "REGULATION": "REGULATION",
                        "REN": "REN",
                        "SAND": "SAND",
                        "SHIB": "SHIB",
                        "SNX": "SNX",
                        "SOL": "SOL",
                        "SPONSORED": "SPONSORED",
                        "SUSHI": "SUSHI",
                        "TECHNOLOGY": "TECHNOLOGY",
                        "TRADING": "TRADING",
                        "TRX": "TRX",
                        "UMA": "UMA",
                        "UNI": "UNI",
                        "USDT": "USDT",
                        "WALLET": "WALLET",
                        "XLM": "XLM",
                        "XMR": "XMR",
                        "XRP": "XRP",
                        "XTZ": "XTZ",
                        "YFI": "YFI",
                        "ZEC": "ZEC",
                        "ZRX": "ZRX",
                        "EMPTY": ""
                    },
                },
                'openapi_types': {
                    'source_ids':
                        ([str],),
                    'lang':
                        (str,),
                    'categories':
                        ([str],),
                    'exclude_categories':
                        ([str],),
                    'to_ts':
                        (int,),
                },
                'attribute_map': {
                    'source_ids': 'source_ids',
                    'lang': 'lang',
                    'categories': 'categories',
                    'exclude_categories': 'exclude_categories',
                    'to_ts': 'to_ts',
                },
                'location_map': {
                    'source_ids': 'query',
                    'lang': 'query',
                    'categories': 'query',
                    'exclude_categories': 'query',
                    'to_ts': 'query',
                },
                'collection_format_map': {
                    'source_ids': 'csv',
                    'categories': 'csv',
                    'exclude_categories': 'csv',
                }
            },
            headers_map={
                'accept': [
                    'application/json'
                ],
                'content_type': [],
            },
            api_client=api_client
        )
        self.news_v1_category_list_endpoint = _Endpoint(
            settings={
                'response_type': (GENERICRESPONSE,),
                'auth': [],
                'endpoint_path': '/news/v1/category/list',
                'operation_id': 'news_v1_category_list',
                'http_method': 'GET',
                'servers': None,
            },
            params_map={
                'all': [
                ],
                'required': [],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                },
                'attribute_map': {
                },
                'location_map': {
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'application/json'
                ],
                'content_type': [],
            },
            api_client=api_client
        )
        self.news_v1_source_list_endpoint = _Endpoint(
            settings={
                'response_type': (GENERICRESPONSE,),
                'auth': [],
                'endpoint_path': '/news/v1/source/list',
                'operation_id': 'news_v1_source_list',
                'http_method': 'GET',
                'servers': None,
            },
            params_map={
                'all': [
                    'lang',
                    'type',
                    'status',
                ],
                'required': [],
                'nullable': [
                ],
                'enum': [
                    'lang',
                    'type',
                    'status',
                ],
                'validation': [
                    'lang',
                    'type',
                    'status',
                ]
            },
            root_map={
                'validations': {
                    ('lang',): {

                        'min_length': 1,
                    },
                    ('type',): {

                        'min_length': 1,
                    },
                    ('status',): {

                        'min_length': 1,
                    },
                },
                'allowed_values': {
                    ('lang',): {

                        "EN": "EN",
                        "ES": "ES",
                        "PT": "PT",
                        "EMPTY": ""
                    },
                    ('type',): {

                        "RSS": "RSS",
                        "API": "API",
                        "TWITTER": "TWITTER",
                        "EMPTY": ""
                    },
                    ('status',): {

                        "ACTIVE": "ACTIVE",
                        "INACTIVE": "INACTIVE",
                        "EMPTY": ""
                    },
                },
                'openapi_types': {
                    'lang':
                        (str,),
                    'type':
                        (str,),
                    'status':
                        (str,),
                },
                'attribute_map': {
                    'lang': 'lang',
                    'type': 'type',
                    'status': 'status',
                },
                'location_map': {
                    'lang': 'query',
                    'type': 'query',
                    'status': 'query',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'application/json'
                ],
                'content_type': [],
            },
            api_client=api_client
        )

    def news_v1_article_list(
        self,
        **kwargs
    ):
        """news_v1_article_list  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.news_v1_article_list(async_req=True)
        >>> result = thread.get()


        Keyword Args:
            source_ids ([str]): Get articles from specific sources; either by their ids or keys. [optional] if omitted the server will use the default value of [""]
            lang (str): The article Preferred language - English (EN), Portuguese (PT), Espanol (ES). [optional] if omitted the server will use the default value of "EN"
            categories ([str]): News article categories to return. [optional] if omitted the server will use the default value of [""]
            exclude_categories ([str]): News article categories to exclude from results. [optional] if omitted the server will use the default value of [""]
            to_ts (int): Articles published on or before this timestamp. [optional] if omitted the server will use the default value of -1
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            _request_auths (list): set to override the auth_settings for an a single
                request; this effectively ignores the authentication
                in the spec for a single request.
                Default is None
            async_req (bool): execute request asynchronously

        Returns:
            GENERICRESPONSE
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get(
            'async_req', False
        )
        kwargs['_return_http_data_only'] = kwargs.get(
            '_return_http_data_only', True
        )
        kwargs['_preload_content'] = kwargs.get(
            '_preload_content', True
        )
        kwargs['_request_timeout'] = kwargs.get(
            '_request_timeout', None
        )
        kwargs['_check_input_type'] = kwargs.get(
            '_check_input_type', True
        )
        kwargs['_check_return_type'] = kwargs.get(
            '_check_return_type', True
        )
        kwargs['_spec_property_naming'] = kwargs.get(
            '_spec_property_naming', False
        )
        kwargs['_content_type'] = kwargs.get(
            '_content_type')
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['_request_auths'] = kwargs.get('_request_auths', None)
        return self.news_v1_article_list_endpoint.call_with_http_info(**kwargs)

    def news_v1_category_list(
        self,
        **kwargs
    ):
        """news_v1_category_list  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.news_v1_category_list(async_req=True)
        >>> result = thread.get()


        Keyword Args:
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            _request_auths (list): set to override the auth_settings for an a single
                request; this effectively ignores the authentication
                in the spec for a single request.
                Default is None
            async_req (bool): execute request asynchronously

        Returns:
            GENERICRESPONSE
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get(
            'async_req', False
        )
        kwargs['_return_http_data_only'] = kwargs.get(
            '_return_http_data_only', True
        )
        kwargs['_preload_content'] = kwargs.get(
            '_preload_content', True
        )
        kwargs['_request_timeout'] = kwargs.get(
            '_request_timeout', None
        )
        kwargs['_check_input_type'] = kwargs.get(
            '_check_input_type', True
        )
        kwargs['_check_return_type'] = kwargs.get(
            '_check_return_type', True
        )
        kwargs['_spec_property_naming'] = kwargs.get(
            '_spec_property_naming', False
        )
        kwargs['_content_type'] = kwargs.get(
            '_content_type')
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['_request_auths'] = kwargs.get('_request_auths', None)
        return self.news_v1_category_list_endpoint.call_with_http_info(**kwargs)

    def news_v1_source_list(
        self,
        **kwargs
    ):
        """news_v1_source_list  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.news_v1_source_list(async_req=True)
        >>> result = thread.get()


        Keyword Args:
            lang (str): The article source Preferred language - English (EN), Portuguese (PT), Espanol (ES). [optional] if omitted the server will use the default value of "EN"
            type (str): RSS, API, TWITTER. [optional] if omitted the server will use the default value of "RSS"
            status (str): The status for the  article source entry. Allowed values: ACTIVE, INACTIVE. [optional] if omitted the server will use the default value of "ACTIVE"
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            _request_auths (list): set to override the auth_settings for an a single
                request; this effectively ignores the authentication
                in the spec for a single request.
                Default is None
            async_req (bool): execute request asynchronously

        Returns:
            GENERICRESPONSE
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get(
            'async_req', False
        )
        kwargs['_return_http_data_only'] = kwargs.get(
            '_return_http_data_only', True
        )
        kwargs['_preload_content'] = kwargs.get(
            '_preload_content', True
        )
        kwargs['_request_timeout'] = kwargs.get(
            '_request_timeout', None
        )
        kwargs['_check_input_type'] = kwargs.get(
            '_check_input_type', True
        )
        kwargs['_check_return_type'] = kwargs.get(
            '_check_return_type', True
        )
        kwargs['_spec_property_naming'] = kwargs.get(
            '_spec_property_naming', False
        )
        kwargs['_content_type'] = kwargs.get(
            '_content_type')
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['_request_auths'] = kwargs.get('_request_auths', None)
        return self.news_v1_source_list_endpoint.call_with_http_info(**kwargs)

