openapi: 3.0.3
info:
  contact:
    email: data@cryptocompare.com
    name: API Support
    url: https://cryptocompare.zendesk.com/hc/en-gb/requests/new
  description: "CryptoCompare is the world's leading digital asset data company, providing\
    \ services that cater to corporate, government and retail clients. Our main reference\
    \ index is widely recognized as a reliable benchmark, and we have been authorized\
    \ by the Financial Conduct Authority (FCA) in the United Kingdom to operate as\
    \ a benchmark administrator. In addition to catering to corporate, government,\
    \ and retail clients, we offer a range of services including comprehensive market\
    \ data for cryptocurrency exchanges in both the centralized and decentralized\
    \ finance sectors, as well as individual asset data on custodians, supported platforms,\
    \ and privacy solutions. Our offerings include price, volume, trade, and orderbook\
    \ updates, as well as historical OHLCV data."
  license:
    name: CryptoCompare API License Agreement
    url: https://www.cryptocompare.com/api-licence-agreement/
  termsOfService: https://www.cryptocompare.com/terms-conditions/
  title: "CryptoCompare Market, Index, Reference Data, News and Overview Metrcis API\
    \ for the Cryptocurrency Industry"
  version: 2.1.1
servers:
- description: The production API load balancer URL for all cryptocurrency data queries.
  url: https://data-api.cryptocompare.com
tags:
- description: "Reference rates endpoints for the CryptoCompare cryptocurrency indices\
    \ provide access to real-time and historical data for a specific cryptocurrency\
    \ index or group of indices. These endpoints can be used to retrieve information\
    \ such as the current value, high and low values, and volume of a cryptocurrency\
    \ index, as well as historical data such as the open, high, low, close, and volume\
    \ values for a specific time period. This information can be useful for a variety\
    \ of purposes, including tracking the performance of a cryptocurrency index over\
    \ time, analyzing market trends, and conducting technical analysis. Cryptocurrency\
    \ indices are often used as benchmarks to measure the performance of a particular\
    \ cryptocurrency or group of cryptocurrencies, and reference rates endpoints can\
    \ provide valuable data for these purposes."
  name: Reference Rates
  x-icon: calculator
  x-id: IndexCC
- description: "Spot endpoints for the cryptocurrency market provide access to real-time\
    \ and historical data for the prices of specific cryptocurrencies or groups of\
    \ cryptocurrencies. These endpoints can be used to retrieve information such as\
    \ the current spot price of a cryptocurrency, as well as historical data such\
    \ as the open, high, low, close, and volume values for a specific time period.\
    \ This information can be useful for a variety of purposes, including tracking\
    \ the performance of specific cryptocurrencies over time, analyzing market trends,\
    \ and conducting technical analysis. Spot endpoints can provide valuable data\
    \ for anyone interested in the current and past prices of cryptocurrencies, as\
    \ well as anyone looking to buy or sell cryptocurrencies."
  name: Spot
  x-icon: btc
  x-id: Spot
- description: "Futures endpoints provide access to real-time and historical data\
    \ for the prices of futures contracts for specific cryptocurrencies or groups\
    \ of cryptocurrencies. These endpoints can be used to retrieve information such\
    \ as the current price of a futures contract, as well as historical data such\
    \ as the open, high, low, close, and volume values for a specific time period.\
    \ Futures contracts are financial instruments that allow users to buy or sell\
    \ an asset at a predetermined price at a future date, and the prices of these\
    \ contracts can be influenced by a variety of factors including market demand,\
    \ supply, and external events. Futures endpoints can provide valuable data for\
    \ anyone interested in the current and past prices of futures contracts for cryptocurrencies,\
    \ as well as anyone looking to buy or sell futures contracts."
  name: Futures
  x-icon: balance-scale
  x-id: Futures
- description: "A set of endpoints that provide aggregated metrics data about the\
    \ overall health of the cryptocurrency industry offer access to a range of data\
    \ points that can be used to measure the performance and vitality of the cryptocurrency\
    \ market. These endpoints can be used to retrieve information such as the total\
    \ market capitalization of all cryptocurrencies, the total volume of trades, the\
    \ number of active cryptocurrencies, and other metrics that can be used to gauge\
    \ the overall health of the industry. This information can be useful for anyone\
    \ interested in understanding the current state of the cryptocurrency market and\
    \ tracking its development over time."
  name: Overview
  x-icon: table
  x-id: Overview
- description: "A set of endpoints that provide aggregated news for the cryptocurrency\
    \ industry offer access to articles and other content related to the cryptocurrency\
    \ industry. These endpoints can be used to retrieve news articles about various\
    \ topics within the cryptocurrency industry, including new developments, trends,\
    \ and events. The news articles may be organized into categories, such as market\
    \ analysis, regulation, or technology, to help users easily find articles on specific\
    \ topics of interest. These endpoints can provide valuable information for anyone\
    \ interested in staying up to date with the latest news and developments in the\
    \ cryptocurrency industry."
  name: News
  x-icon: newspaper-o
  x-id: News
- description: "Asset endpoints provide access to data about specific assets, such\
    \ as cryptocurrencies or other digital assets. These endpoints can be used to\
    \ retrieve information about the asset, including its identifier, symbol, name,\
    \ description, and other metadata. Asset endpoints may also provide information\
    \ about the asset's type, such as whether it is a blockchain asset or a token,\
    \ as well as information about the supported blockhain platforms of the asset.\
    \ This information can be useful for anyone interested in learning more about\
    \ specific assets and their characteristics."
  name: Asset
  x-icon: sitemap
  x-id: Asset
paths:
  /asset/v1/data/by/address:
    description: Get overall asset info for a specific asset by smart contract address
      and chain symbol.
    get:
      deprecated: false
      operationId: asset_v1_data_by_address
      parameters:
      - deprecated: false
        explode: false
        in: query
        name: address
        required: true
        schema:
          maxLength: 500
          minLength: 1
          type: string
        style: form
      - deprecated: false
        explode: false
        in: query
        name: chain_symbol
        required: true
        schema:
          maxLength: 100
          minLength: 1
          type: string
        style: form
      - deprecated: false
        explode: false
        in: query
        name: groups
        required: false
        schema:
          default: ""
          maxLength: 2000
          minLength: 0
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GENERIC_RESPONSE'
          description: Success response from the API.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 400 error occurs when some of the data sent is malformed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 401 error occurs when you don't use a valid API Key on
            an endpoint that requires authetication.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 403 error occurs when you don't use a valid API Key on
            an endpoint that requires authetication.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The 404 error can either be returned when some/all of parameters\
            \ sent are not found within our system. This could be beacuse parameters\
            \ like market, instrument, news source, symbol, asset_id etc. are invalid"
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The 405 error occurs the user tries to use a http method (GET,POST,PUT\
            \ etc) that is not supported."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The 429 error occurs when you go over the API Key limit. Rate\
            \ limits are eforced on a second (resets every second), minute (resers\
            \ every minute), hour (resets every hour), day (resets every day) and\
            \ month (resets every month) granularity. You can upgrade your account\
            \ and access higher rate limits."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 500 error occurs our API is up but does not know how to
            / can't handle the request.
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 502 error occurs when our API is not running. This error
            is returned by our proxy / load balancer.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 503 error occurs when there is an issue with one of our
            data sources and we can't even return a partial answer.
      tags:
      - Asset
      x-section: Asset
      x-accepts: application/json
    summary: "Asset: By Smart Contract Address"
  /asset/v1/data/by/id:
    description: Get overall asset info for a specific asset by asset id.
    get:
      deprecated: false
      operationId: asset_v1_data_by_id
      parameters:
      - deprecated: false
        description: The asset id you are interested in
        explode: false
        in: query
        name: asset_id
        required: true
        schema:
          type: integer
        style: form
      - deprecated: false
        explode: false
        in: query
        name: groups
        required: false
        schema:
          default: ""
          maxLength: 2000
          minLength: 0
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GENERIC_RESPONSE'
          description: Success response from the API.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 400 error occurs when some of the data sent is malformed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 401 error occurs when you don't use a valid API Key on
            an endpoint that requires authetication.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 403 error occurs when you don't use a valid API Key on
            an endpoint that requires authetication.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The 404 error can either be returned when some/all of parameters\
            \ sent are not found within our system. This could be beacuse parameters\
            \ like market, instrument, news source, symbol, asset_id etc. are invalid"
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The 405 error occurs the user tries to use a http method (GET,POST,PUT\
            \ etc) that is not supported."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The 429 error occurs when you go over the API Key limit. Rate\
            \ limits are eforced on a second (resets every second), minute (resers\
            \ every minute), hour (resets every hour), day (resets every day) and\
            \ month (resets every month) granularity. You can upgrade your account\
            \ and access higher rate limits."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 500 error occurs our API is up but does not know how to
            / can't handle the request.
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 502 error occurs when our API is not running. This error
            is returned by our proxy / load balancer.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 503 error occurs when there is an issue with one of our
            data sources and we can't even return a partial answer.
      tags:
      - Asset
      x-section: Asset
      x-accepts: application/json
    summary: "Asset: By Id"
  /asset/v1/data/by/symbol:
    description: Get overall asset info for a specific asset by symbol.
    get:
      deprecated: false
      operationId: asset_v1_data_by_symbol
      parameters:
      - deprecated: false
        description: The asset symbol you are interested in
        explode: false
        in: query
        name: asset_symbol
        required: true
        schema:
          maxLength: 100
          minLength: 1
          type: string
        style: form
      - deprecated: false
        explode: false
        in: query
        name: groups
        required: false
        schema:
          default: ""
          maxLength: 2000
          minLength: 0
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GENERIC_RESPONSE'
          description: Success response from the API.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 400 error occurs when some of the data sent is malformed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 401 error occurs when you don't use a valid API Key on
            an endpoint that requires authetication.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 403 error occurs when you don't use a valid API Key on
            an endpoint that requires authetication.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The 404 error can either be returned when some/all of parameters\
            \ sent are not found within our system. This could be beacuse parameters\
            \ like market, instrument, news source, symbol, asset_id etc. are invalid"
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The 405 error occurs the user tries to use a http method (GET,POST,PUT\
            \ etc) that is not supported."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The 429 error occurs when you go over the API Key limit. Rate\
            \ limits are eforced on a second (resets every second), minute (resers\
            \ every minute), hour (resets every hour), day (resets every day) and\
            \ month (resets every month) granularity. You can upgrade your account\
            \ and access higher rate limits."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 500 error occurs our API is up but does not know how to
            / can't handle the request.
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 502 error occurs when our API is not running. This error
            is returned by our proxy / load balancer.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 503 error occurs when there is an issue with one of our
            data sources and we can't even return a partial answer.
      tags:
      - Asset
      x-section: Asset
      x-accepts: application/json
    summary: "Asset: By Symbol"
  /asset/v1/top/list:
    description: Return a list of asset data sorted and filtered based on requested
      parameters.
    get:
      deprecated: false
      operationId: asset_v1_top_list
      parameters:
      - deprecated: false
        description: "The page number for the request to get {page_size} coins at\
          \ the time."
        explode: false
        in: query
        name: page
        required: false
        schema:
          default: 1
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - deprecated: false
        description: The number of items returned per page
        explode: false
        in: query
        name: page_size
        required: false
        schema:
          default: 100
          maximum: 100
          minimum: 10
          type: integer
        style: form
      - deprecated: false
        description: The asset class/type
        explode: false
        in: query
        name: asset_type
        required: false
        schema:
          default: ""
          type: string
        style: form
      - deprecated: false
        description: "Sort by field ( CREATED_ON,UPDATED_ON,SYMBOL )"
        explode: false
        in: query
        name: sort_by
        required: false
        schema:
          default: CREATED_ON
          enum:
          - CREATED_ON
          - UPDATED_ON
          - SYMBOL
          type: string
        style: form
      - deprecated: false
        description: "Sort direction ( DESC,ASC )"
        explode: false
        in: query
        name: sort_direction
        required: false
        schema:
          default: DESC
          enum:
          - DESC
          - ASC
          type: string
        style: form
      - deprecated: false
        explode: false
        in: query
        name: groups
        required: false
        schema:
          default: ""
          maxLength: 2000
          minLength: 0
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GENERIC_RESPONSE'
          description: Success response from the API.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 400 error occurs when some of the data sent is malformed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 401 error occurs when you don't use a valid API Key on
            an endpoint that requires authetication.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 403 error occurs when you don't use a valid API Key on
            an endpoint that requires authetication.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The 404 error can either be returned when some/all of parameters\
            \ sent are not found within our system. This could be beacuse parameters\
            \ like market, instrument, news source, symbol, asset_id etc. are invalid"
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The 405 error occurs the user tries to use a http method (GET,POST,PUT\
            \ etc) that is not supported."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The 429 error occurs when you go over the API Key limit. Rate\
            \ limits are eforced on a second (resets every second), minute (resers\
            \ every minute), hour (resets every hour), day (resets every day) and\
            \ month (resets every month) granularity. You can upgrade your account\
            \ and access higher rate limits."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 500 error occurs our API is up but does not know how to
            / can't handle the request.
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 502 error occurs when our API is not running. This error
            is returned by our proxy / load balancer.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 503 error occurs when there is an issue with one of our
            data sources and we can't even return a partial answer.
      tags:
      - Asset
      x-section: Asset
      x-accepts: application/json
    summary: "Asset: Top List"
  /futures/v1/historical/days:
    description: ""
    get:
      deprecated: false
      operationId: futures_v1_historical_days
      parameters:
      - deprecated: false
        description: The exchange to obtain data from
        explode: false
        in: query
        name: market
        required: true
        schema:
          maxLength: 30
          minLength: 2
          type: string
        style: form
      - deprecated: false
        description: "The mapped or unmapped instrument to retrieve on a specific\
          \ market. We first check the instrument against the mapped list and then\
          \ against the unmapped list \n        but you can use the mapping_priority\
          \ param to check the unmapped list first."
        explode: false
        in: query
        name: instrument
        required: true
        schema:
          maxLength: 500
          minLength: 1
          type: string
        style: form
      - deprecated: false
        description: "When requesting historical entries you can fiter by specific\
          \ groups of interest. To do so just pass the groups of interest into the\
          \ URL as a comma separted list. If left empty it will get all data that\
          \ you account is allowed to access. The groups available are: ID,MAPPING,OHLC,OHLC_TRADE,TRADE,VOLUME"
        explode: false
        in: query
        name: groups
        required: false
        schema:
          default: []
          items:
            type: string
          type: array
        style: form
      - deprecated: false
        description: The number of data points to return
        explode: false
        in: query
        name: limit
        required: false
        schema:
          default: 30
          maximum: 5000
          minimum: 1
          type: integer
        style: form
      - deprecated: false
        description: "Returns historical data before this unix timestamp. If you want\
          \ to get all the available historical data, you can use limit=2000 and keep\
          \ going back in time using the to_ts param. You can then keep requesting\
          \ batches using: &limit=2000&to_ts={the earliest unix timestamp received}"
        explode: false
        in: query
        name: to_ts
        required: false
        schema:
          type: integer
        style: form
      - deprecated: false
        description: The number of points to aggregate for each returned value. E.g.
          passing 5 on a minute histo data endpoint will return data at 5 minute intervals.
          You are still limited to a maximum of 2000 minute points so the maximum
          you can get is 400 5 minutes interval entries
        explode: false
        in: query
        name: aggregate
        required: false
        schema:
          default: 1
          maximum: 30
          minimum: 1
          type: integer
        style: form
      - deprecated: false
        description: "Boolean value, if set to false or 0 we will not return data\
          \ points for periods with no trading activity."
        explode: false
        in: query
        name: fill
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - deprecated: false
        description: "The mapping priority of the instrument. It is set to CHECK_MAPPED_FIRST\
          \ by default. It can be one of the following: CHECK_MAPPED_FIRST,CHECK_UNMAPPED_FIRST"
        explode: false
        in: query
        name: mapping_priority
        required: false
        schema:
          default: CHECK_MAPPED_FIRST
          enum:
          - CHECK_MAPPED_FIRST
          - CHECK_UNMAPPED_FIRST
          type: string
        style: form
      - deprecated: false
        description: "The format of the data response in uppercase. It can be one\
          \ of the following: JSON,CSV"
        explode: false
        in: query
        name: response_format
        required: false
        schema:
          default: JSON
          enum:
          - JSON
          - CSV
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GENERIC_RESPONSE'
          description: Success response from the API.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 400 error occurs when some of the data sent is malformed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 401 error occurs when you don't use a valid API Key on
            an endpoint that requires authetication.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 403 error occurs when you don't use a valid API Key on
            an endpoint that requires authetication.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The 404 error can either be returned when some/all of parameters\
            \ sent are not found within our system. This could be beacuse parameters\
            \ like market, instrument, news source, symbol, asset_id etc. are invalid"
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The 405 error occurs the user tries to use a http method (GET,POST,PUT\
            \ etc) that is not supported."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The 429 error occurs when you go over the API Key limit. Rate\
            \ limits are eforced on a second (resets every second), minute (resers\
            \ every minute), hour (resets every hour), day (resets every day) and\
            \ month (resets every month) granularity. You can upgrade your account\
            \ and access higher rate limits."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 500 error occurs our API is up but does not know how to
            / can't handle the request.
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 502 error occurs when our API is not running. This error
            is returned by our proxy / load balancer.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 503 error occurs when there is an issue with one of our
            data sources and we can't even return a partial answer.
      tags:
      - Futures
      x-section: Futures
      x-accepts: application/json
    summary: Futures (V1) OHLCV+ Days
  /futures/v1/historical/funding-rate-messages:
    description: Funding rate is only available for PERPETUAL instruments.
    get:
      deprecated: false
      operationId: futures_v1_historical_funding_rate_messages
      parameters:
      - deprecated: false
        description: The exchange to obtain data from
        explode: false
        in: query
        name: market
        required: true
        schema:
          maxLength: 30
          minLength: 2
          type: string
        style: form
      - deprecated: false
        description: "The mapped or unmapped instrument to retrieve on a specific\
          \ market. We first check the instrument against the mapped list and then\
          \ against the unmapped list \n        but you can use the mapping_priority\
          \ param to check the unmapped list first."
        explode: false
        in: query
        name: instrument
        required: true
        schema:
          maxLength: 500
          minLength: 1
          type: string
        style: form
      - deprecated: false
        description: Unix timestamp in seconds of the earliest funding rate message
          in the response
        explode: false
        in: query
        name: after_ts
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - deprecated: false
        description: "The CCSEQ of the last message seen in the previous request.\
          \ Useful for pagination within messages that happened in the same second.\
          \ It will look though the messages in the same second and discard all messages\
          \ until it reaches the CCSEQ from the last_ccseq parameter. If the CCSEQ\
          \ is not part of that second, it will discard all messages in the second\
          \ and only return messages starting from the next second onwards. When starting\
          \ an integration with our API, on the first request, you should either not\
          \ send a value for this paramater (defaults to 0 and does not discard any\
          \ messages) or send 0. After you get a response use the TIMESTAMP and CCSEQ\
          \ from the last message in the response. Pass the TIMESTAMP in the after_ts\
          \ parameter and the CCSEQ in the last_ccseq parameter on your next request."
        explode: false
        in: query
        name: last_ccseq
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - deprecated: false
        description: The maximum number of funding rate messages to return
        explode: false
        in: query
        name: limit
        required: false
        schema:
          default: 100
          maximum: 5000
          minimum: 1
          type: integer
        style: form
      - deprecated: false
        description: "The mapping priority of the instrument. It is set to CHECK_MAPPED_FIRST\
          \ by default. It can be one of the following: CHECK_MAPPED_FIRST,CHECK_UNMAPPED_FIRST"
        explode: false
        in: query
        name: mapping_priority
        required: false
        schema:
          default: CHECK_MAPPED_FIRST
          enum:
          - CHECK_MAPPED_FIRST
          - CHECK_UNMAPPED_FIRST
          type: string
        style: form
      - deprecated: false
        description: "The format of the data response in uppercase. It can be one\
          \ of the following: JSON,CSV"
        explode: false
        in: query
        name: response_format
        required: false
        schema:
          default: JSON
          enum:
          - JSON
          - CSV
          type: string
        style: form
      - deprecated: false
        description: "If set to false (default) then when there are no items to return,\
          \ you will get a response status code of 200 and an empty JSON array or\
          \ a CSV file with just the header. If set to true then when there are no\
          \ items you will get a 404 status code for both JSON and CSV response_formats."
        explode: false
        in: query
        name: return_404_on_empty_response
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GENERIC_RESPONSE'
          description: Success response from the API.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 400 error occurs when some of the data sent is malformed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 401 error occurs when you don't use a valid API Key on
            an endpoint that requires authetication.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 403 error occurs when you don't use a valid API Key on
            an endpoint that requires authetication.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The 404 error can either be returned when some/all of parameters\
            \ sent are not found within our system. This could be beacuse parameters\
            \ like market, instrument, news source, symbol, asset_id etc. are invalid"
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The 405 error occurs the user tries to use a http method (GET,POST,PUT\
            \ etc) that is not supported."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The 429 error occurs when you go over the API Key limit. Rate\
            \ limits are eforced on a second (resets every second), minute (resers\
            \ every minute), hour (resets every hour), day (resets every day) and\
            \ month (resets every month) granularity. You can upgrade your account\
            \ and access higher rate limits."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 500 error occurs our API is up but does not know how to
            / can't handle the request.
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 502 error occurs when our API is not running. This error
            is returned by our proxy / load balancer.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 503 error occurs when there is an issue with one of our
            data sources and we can't even return a partial answer.
      security:
      - api_key_query: []
      - api_key_header: []
      tags:
      - Futures
      x-section: Futures
      x-accepts: application/json
    summary: Futures (V1) Historical Funding Rate Messages
  /futures/v1/historical/funding-rate-messages/hour:
    description: Funding rate is only available for PERPETUAL instruments. You should
      use this endpoint to get a full hour of historical funding rate messages when
      catching up. For latest funding rate messages use the /futures/v1/historical/funding-rate-messages
      endpoint.
    get:
      deprecated: false
      operationId: futures_v1_historical_funding_rate_messages_hour
      parameters:
      - deprecated: false
        description: The exchange to obtain data from
        explode: false
        in: query
        name: market
        required: true
        schema:
          maxLength: 30
          minLength: 2
          type: string
        style: form
      - deprecated: false
        description: "The mapped or unmapped instrument to retrieve on a specific\
          \ market. We first check the instrument against the mapped list and then\
          \ against the unmapped list \n        but you can use the mapping_priority\
          \ param to check the unmapped list first."
        explode: false
        in: query
        name: instrument
        required: true
        schema:
          maxLength: 500
          minLength: 1
          type: string
        style: form
      - deprecated: false
        description: Unix timestamp in seconds for the hour containing the funding
          rate updates you are interested in. You can pass any timestamp in the hour
          but we will round it down the the full hour timestmap and return all funding
          rate updates in that hour.
        explode: false
        in: query
        name: hour_ts
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - deprecated: false
        description: "The mapping priority of the instrument. It is set to CHECK_MAPPED_FIRST\
          \ by default. It can be one of the following: CHECK_MAPPED_FIRST,CHECK_UNMAPPED_FIRST"
        explode: false
        in: query
        name: mapping_priority
        required: false
        schema:
          default: CHECK_MAPPED_FIRST
          enum:
          - CHECK_MAPPED_FIRST
          - CHECK_UNMAPPED_FIRST
          type: string
        style: form
      - deprecated: false
        description: "The format of the data response in uppercase. It can be one\
          \ of the following: JSON,CSV"
        explode: false
        in: query
        name: response_format
        required: false
        schema:
          default: JSON
          enum:
          - JSON
          - CSV
          type: string
        style: form
      - deprecated: false
        description: "If set to false (default) then when there are no items to return,\
          \ you will get a response status code of 200 and an empty JSON array or\
          \ a CSV file with just the header. If set to true then when there are no\
          \ items you will get a 404 status code for both JSON and CSV response_formats."
        explode: false
        in: query
        name: return_404_on_empty_response
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GENERIC_RESPONSE'
          description: Success response from the API.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 400 error occurs when some of the data sent is malformed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 401 error occurs when you don't use a valid API Key on
            an endpoint that requires authetication.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 403 error occurs when you don't use a valid API Key on
            an endpoint that requires authetication.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The 404 error can either be returned when some/all of parameters\
            \ sent are not found within our system. This could be beacuse parameters\
            \ like market, instrument, news source, symbol, asset_id etc. are invalid"
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The 405 error occurs the user tries to use a http method (GET,POST,PUT\
            \ etc) that is not supported."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The 429 error occurs when you go over the API Key limit. Rate\
            \ limits are eforced on a second (resets every second), minute (resers\
            \ every minute), hour (resets every hour), day (resets every day) and\
            \ month (resets every month) granularity. You can upgrade your account\
            \ and access higher rate limits."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 500 error occurs our API is up but does not know how to
            / can't handle the request.
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 502 error occurs when our API is not running. This error
            is returned by our proxy / load balancer.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 503 error occurs when there is an issue with one of our
            data sources and we can't even return a partial answer.
      security:
      - api_key_query: []
      - api_key_header: []
      tags:
      - Futures
      x-section: Futures
      x-accepts: application/json
    summary: Futures (V1) Historical Funding Rate Messages by Hour Timestamp
  /futures/v1/historical/funding-rate/days:
    description: Funding rate is only available for PERPETUAL instruments.
    get:
      deprecated: false
      operationId: futures_v1_historical_funding_rate_days
      parameters:
      - deprecated: false
        description: The exchange to obtain data from
        explode: false
        in: query
        name: market
        required: true
        schema:
          maxLength: 30
          minLength: 2
          type: string
        style: form
      - deprecated: false
        description: "The mapped or unmapped instrument to retrieve on a specific\
          \ market. We first check the instrument against the mapped list and then\
          \ against the unmapped list \n        but you can use the mapping_priority\
          \ param to check the unmapped list first."
        explode: false
        in: query
        name: instrument
        required: true
        schema:
          maxLength: 500
          minLength: 1
          type: string
        style: form
      - deprecated: false
        description: "When requesting historical entries you can fiter by specific\
          \ groups of interest. To do so just pass the groups of interest into the\
          \ URL as a comma separted list. If left empty it will get all data that\
          \ you account is allowed to access. The groups available are: ID,MAPPING,VALUE,OHLC,OHLC_MESSAGE,MESSAGE"
        explode: false
        in: query
        name: groups
        required: false
        schema:
          default: []
          items:
            type: string
          type: array
        style: form
      - deprecated: false
        description: The number of data points to return
        explode: false
        in: query
        name: limit
        required: false
        schema:
          default: 30
          maximum: 5000
          minimum: 1
          type: integer
        style: form
      - deprecated: false
        description: "Returns historical data before this unix timestamp. If you want\
          \ to get all the available historical data, you can use limit=2000 and keep\
          \ going back in time using the to_ts param. You can then keep requesting\
          \ batches using: &limit=2000&to_ts={the earliest unix timestamp received}"
        explode: false
        in: query
        name: to_ts
        required: false
        schema:
          type: integer
        style: form
      - deprecated: false
        description: The number of points to aggregate for each returned value. E.g.
          passing 5 on a minute histo data endpoint will return data at 5 minute intervals.
          You are still limited to a maximum of 2000 minute points so the maximum
          you can get is 400 5 minutes interval entries
        explode: false
        in: query
        name: aggregate
        required: false
        schema:
          default: 1
          maximum: 30
          minimum: 1
          type: integer
        style: form
      - deprecated: false
        description: "Boolean value, if set to false or 0 we will not return data\
          \ points for periods with no trading activity."
        explode: false
        in: query
        name: fill
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - deprecated: false
        description: "The mapping priority of the instrument. It is set to CHECK_MAPPED_FIRST\
          \ by default. It can be one of the following: CHECK_MAPPED_FIRST,CHECK_UNMAPPED_FIRST"
        explode: false
        in: query
        name: mapping_priority
        required: false
        schema:
          default: CHECK_MAPPED_FIRST
          enum:
          - CHECK_MAPPED_FIRST
          - CHECK_UNMAPPED_FIRST
          type: string
        style: form
      - deprecated: false
        description: "The format of the data response in uppercase. It can be one\
          \ of the following: JSON,CSV"
        explode: false
        in: query
        name: response_format
        required: false
        schema:
          default: JSON
          enum:
          - JSON
          - CSV
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GENERIC_RESPONSE'
          description: Success response from the API.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 400 error occurs when some of the data sent is malformed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 401 error occurs when you don't use a valid API Key on
            an endpoint that requires authetication.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 403 error occurs when you don't use a valid API Key on
            an endpoint that requires authetication.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The 404 error can either be returned when some/all of parameters\
            \ sent are not found within our system. This could be beacuse parameters\
            \ like market, instrument, news source, symbol, asset_id etc. are invalid"
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The 405 error occurs the user tries to use a http method (GET,POST,PUT\
            \ etc) that is not supported."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The 429 error occurs when you go over the API Key limit. Rate\
            \ limits are eforced on a second (resets every second), minute (resers\
            \ every minute), hour (resets every hour), day (resets every day) and\
            \ month (resets every month) granularity. You can upgrade your account\
            \ and access higher rate limits."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 500 error occurs our API is up but does not know how to
            / can't handle the request.
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 502 error occurs when our API is not running. This error
            is returned by our proxy / load balancer.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 503 error occurs when there is an issue with one of our
            data sources and we can't even return a partial answer.
      tags:
      - Futures
      x-section: Futures
      x-accepts: application/json
    summary: Futures (V1) OHLCV+ Funding Rate Days
  /futures/v1/historical/funding-rate/hours:
    description: Funding rate is only available for PERPETUAL instruments.
    get:
      deprecated: false
      operationId: futures_v1_historical_funding_rate_hours
      parameters:
      - deprecated: false
        description: The exchange to obtain data from
        explode: false
        in: query
        name: market
        required: true
        schema:
          maxLength: 30
          minLength: 2
          type: string
        style: form
      - deprecated: false
        description: "The mapped or unmapped instrument to retrieve on a specific\
          \ market. We first check the instrument against the mapped list and then\
          \ against the unmapped list \n        but you can use the mapping_priority\
          \ param to check the unmapped list first."
        explode: false
        in: query
        name: instrument
        required: true
        schema:
          maxLength: 500
          minLength: 1
          type: string
        style: form
      - deprecated: false
        description: "When requesting historical entries you can fiter by specific\
          \ groups of interest. To do so just pass the groups of interest into the\
          \ URL as a comma separted list. If left empty it will get all data that\
          \ you account is allowed to access. The groups available are: ID,MAPPING,VALUE,OHLC,OHLC_MESSAGE,MESSAGE"
        explode: false
        in: query
        name: groups
        required: false
        schema:
          default: []
          items:
            type: string
          type: array
        style: form
      - deprecated: false
        description: The number of data points to return
        explode: false
        in: query
        name: limit
        required: false
        schema:
          default: 30
          maximum: 2000
          minimum: 1
          type: integer
        style: form
      - deprecated: false
        description: "Returns historical data before this unix timestamp. If you want\
          \ to get all the available historical data, you can use limit=2000 and keep\
          \ going back in time using the to_ts param. You can then keep requesting\
          \ batches using: &limit=2000&to_ts={the earliest unix timestamp received}"
        explode: false
        in: query
        name: to_ts
        required: false
        schema:
          type: integer
        style: form
      - deprecated: false
        description: The number of points to aggregate for each returned value. E.g.
          passing 5 on a minute histo data endpoint will return data at 5 minute intervals.
          You are still limited to a maximum of 2000 minute points so the maximum
          you can get is 400 5 minutes interval entries
        explode: false
        in: query
        name: aggregate
        required: false
        schema:
          default: 1
          maximum: 30
          minimum: 1
          type: integer
        style: form
      - deprecated: false
        description: "Boolean value, if set to false or 0 we will not return data\
          \ points for periods with no trading activity."
        explode: false
        in: query
        name: fill
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - deprecated: false
        description: "The mapping priority of the instrument. It is set to CHECK_MAPPED_FIRST\
          \ by default. It can be one of the following: CHECK_MAPPED_FIRST,CHECK_UNMAPPED_FIRST"
        explode: false
        in: query
        name: mapping_priority
        required: false
        schema:
          default: CHECK_MAPPED_FIRST
          enum:
          - CHECK_MAPPED_FIRST
          - CHECK_UNMAPPED_FIRST
          type: string
        style: form
      - deprecated: false
        description: "The format of the data response in uppercase. It can be one\
          \ of the following: JSON,CSV"
        explode: false
        in: query
        name: response_format
        required: false
        schema:
          default: JSON
          enum:
          - JSON
          - CSV
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GENERIC_RESPONSE'
          description: Success response from the API.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 400 error occurs when some of the data sent is malformed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 401 error occurs when you don't use a valid API Key on
            an endpoint that requires authetication.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 403 error occurs when you don't use a valid API Key on
            an endpoint that requires authetication.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The 404 error can either be returned when some/all of parameters\
            \ sent are not found within our system. This could be beacuse parameters\
            \ like market, instrument, news source, symbol, asset_id etc. are invalid"
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The 405 error occurs the user tries to use a http method (GET,POST,PUT\
            \ etc) that is not supported."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The 429 error occurs when you go over the API Key limit. Rate\
            \ limits are eforced on a second (resets every second), minute (resers\
            \ every minute), hour (resets every hour), day (resets every day) and\
            \ month (resets every month) granularity. You can upgrade your account\
            \ and access higher rate limits."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 500 error occurs our API is up but does not know how to
            / can't handle the request.
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 502 error occurs when our API is not running. This error
            is returned by our proxy / load balancer.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 503 error occurs when there is an issue with one of our
            data sources and we can't even return a partial answer.
      tags:
      - Futures
      x-section: Futures
      x-accepts: application/json
    summary: Futures (V1) OHLCV+ Funding Rate Hours
  /futures/v1/historical/funding-rate/minutes:
    description: Funding rate is only available for PERPETUAL instruments.
    get:
      deprecated: false
      operationId: futures_v1_historical_funding_rate_minutes
      parameters:
      - deprecated: false
        description: The exchange to obtain data from
        explode: false
        in: query
        name: market
        required: true
        schema:
          maxLength: 30
          minLength: 2
          type: string
        style: form
      - deprecated: false
        description: "The mapped or unmapped instrument to retrieve on a specific\
          \ market. We first check the instrument against the mapped list and then\
          \ against the unmapped list \n        but you can use the mapping_priority\
          \ param to check the unmapped list first."
        explode: false
        in: query
        name: instrument
        required: true
        schema:
          maxLength: 500
          minLength: 1
          type: string
        style: form
      - deprecated: false
        description: "When requesting historical entries you can fiter by specific\
          \ groups of interest. To do so just pass the groups of interest into the\
          \ URL as a comma separted list. If left empty it will get all data that\
          \ you account is allowed to access. The groups available are: ID,MAPPING,VALUE,OHLC,OHLC_MESSAGE,MESSAGE"
        explode: false
        in: query
        name: groups
        required: false
        schema:
          default: []
          items:
            type: string
          type: array
        style: form
      - deprecated: false
        description: The number of data points to return
        explode: false
        in: query
        name: limit
        required: false
        schema:
          default: 30
          maximum: 2000
          minimum: 1
          type: integer
        style: form
      - deprecated: false
        description: "Returns historical data before this unix timestamp. If you want\
          \ to get all the available historical data, you can use limit=2000 and keep\
          \ going back in time using the to_ts param. You can then keep requesting\
          \ batches using: &limit=2000&to_ts={the earliest unix timestamp received}"
        explode: false
        in: query
        name: to_ts
        required: false
        schema:
          type: integer
        style: form
      - deprecated: false
        description: The number of points to aggregate for each returned value. E.g.
          passing 5 on a minute histo data endpoint will return data at 5 minute intervals.
          You are still limited to a maximum of 2000 minute points so the maximum
          you can get is 400 5 minutes interval entries
        explode: false
        in: query
        name: aggregate
        required: false
        schema:
          default: 1
          maximum: 30
          minimum: 1
          type: integer
        style: form
      - deprecated: false
        description: "Boolean value, if set to false or 0 we will not return data\
          \ points for periods with no trading activity."
        explode: false
        in: query
        name: fill
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - deprecated: false
        description: "The mapping priority of the instrument. It is set to CHECK_MAPPED_FIRST\
          \ by default. It can be one of the following: CHECK_MAPPED_FIRST,CHECK_UNMAPPED_FIRST"
        explode: false
        in: query
        name: mapping_priority
        required: false
        schema:
          default: CHECK_MAPPED_FIRST
          enum:
          - CHECK_MAPPED_FIRST
          - CHECK_UNMAPPED_FIRST
          type: string
        style: form
      - deprecated: false
        description: "The format of the data response in uppercase. It can be one\
          \ of the following: JSON,CSV"
        explode: false
        in: query
        name: response_format
        required: false
        schema:
          default: JSON
          enum:
          - JSON
          - CSV
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GENERIC_RESPONSE'
          description: Success response from the API.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 400 error occurs when some of the data sent is malformed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 401 error occurs when you don't use a valid API Key on
            an endpoint that requires authetication.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 403 error occurs when you don't use a valid API Key on
            an endpoint that requires authetication.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The 404 error can either be returned when some/all of parameters\
            \ sent are not found within our system. This could be beacuse parameters\
            \ like market, instrument, news source, symbol, asset_id etc. are invalid"
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The 405 error occurs the user tries to use a http method (GET,POST,PUT\
            \ etc) that is not supported."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The 429 error occurs when you go over the API Key limit. Rate\
            \ limits are eforced on a second (resets every second), minute (resers\
            \ every minute), hour (resets every hour), day (resets every day) and\
            \ month (resets every month) granularity. You can upgrade your account\
            \ and access higher rate limits."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 500 error occurs our API is up but does not know how to
            / can't handle the request.
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 502 error occurs when our API is not running. This error
            is returned by our proxy / load balancer.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 503 error occurs when there is an issue with one of our
            data sources and we can't even return a partial answer.
      tags:
      - Futures
      x-section: Futures
      x-accepts: application/json
    summary: Futures (V1) OHLCV+ Funding Rate Minutes
  /futures/v1/historical/hours:
    description: ""
    get:
      deprecated: false
      operationId: futures_v1_historical_hours
      parameters:
      - deprecated: false
        description: The exchange to obtain data from
        explode: false
        in: query
        name: market
        required: true
        schema:
          maxLength: 30
          minLength: 2
          type: string
        style: form
      - deprecated: false
        description: "The mapped or unmapped instrument to retrieve on a specific\
          \ market. We first check the instrument against the mapped list and then\
          \ against the unmapped list \n        but you can use the mapping_priority\
          \ param to check the unmapped list first."
        explode: false
        in: query
        name: instrument
        required: true
        schema:
          maxLength: 500
          minLength: 1
          type: string
        style: form
      - deprecated: false
        description: "When requesting historical entries you can fiter by specific\
          \ groups of interest. To do so just pass the groups of interest into the\
          \ URL as a comma separted list. If left empty it will get all data that\
          \ you account is allowed to access. The groups available are: ID,MAPPING,OHLC,OHLC_TRADE,TRADE,VOLUME"
        explode: false
        in: query
        name: groups
        required: false
        schema:
          default: []
          items:
            type: string
          type: array
        style: form
      - deprecated: false
        description: The number of data points to return
        explode: false
        in: query
        name: limit
        required: false
        schema:
          default: 30
          maximum: 2000
          minimum: 1
          type: integer
        style: form
      - deprecated: false
        description: "Returns historical data before this unix timestamp. If you want\
          \ to get all the available historical data, you can use limit=2000 and keep\
          \ going back in time using the to_ts param. You can then keep requesting\
          \ batches using: &limit=2000&to_ts={the earliest unix timestamp received}"
        explode: false
        in: query
        name: to_ts
        required: false
        schema:
          type: integer
        style: form
      - deprecated: false
        description: The number of points to aggregate for each returned value. E.g.
          passing 5 on a minute histo data endpoint will return data at 5 minute intervals.
          You are still limited to a maximum of 2000 minute points so the maximum
          you can get is 400 5 minutes interval entries
        explode: false
        in: query
        name: aggregate
        required: false
        schema:
          default: 1
          maximum: 30
          minimum: 1
          type: integer
        style: form
      - deprecated: false
        description: "Boolean value, if set to false or 0 we will not return data\
          \ points for periods with no trading activity."
        explode: false
        in: query
        name: fill
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - deprecated: false
        description: "The mapping priority of the instrument. It is set to CHECK_MAPPED_FIRST\
          \ by default. It can be one of the following: CHECK_MAPPED_FIRST,CHECK_UNMAPPED_FIRST"
        explode: false
        in: query
        name: mapping_priority
        required: false
        schema:
          default: CHECK_MAPPED_FIRST
          enum:
          - CHECK_MAPPED_FIRST
          - CHECK_UNMAPPED_FIRST
          type: string
        style: form
      - deprecated: false
        description: "The format of the data response in uppercase. It can be one\
          \ of the following: JSON,CSV"
        explode: false
        in: query
        name: response_format
        required: false
        schema:
          default: JSON
          enum:
          - JSON
          - CSV
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GENERIC_RESPONSE'
          description: Success response from the API.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 400 error occurs when some of the data sent is malformed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 401 error occurs when you don't use a valid API Key on
            an endpoint that requires authetication.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 403 error occurs when you don't use a valid API Key on
            an endpoint that requires authetication.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The 404 error can either be returned when some/all of parameters\
            \ sent are not found within our system. This could be beacuse parameters\
            \ like market, instrument, news source, symbol, asset_id etc. are invalid"
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The 405 error occurs the user tries to use a http method (GET,POST,PUT\
            \ etc) that is not supported."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The 429 error occurs when you go over the API Key limit. Rate\
            \ limits are eforced on a second (resets every second), minute (resers\
            \ every minute), hour (resets every hour), day (resets every day) and\
            \ month (resets every month) granularity. You can upgrade your account\
            \ and access higher rate limits."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 500 error occurs our API is up but does not know how to
            / can't handle the request.
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 502 error occurs when our API is not running. This error
            is returned by our proxy / load balancer.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 503 error occurs when there is an issue with one of our
            data sources and we can't even return a partial answer.
      tags:
      - Futures
      x-section: Futures
      x-accepts: application/json
    summary: Futures (V1) OHLCV+ Hours
  /futures/v1/historical/minutes:
    description: ""
    get:
      deprecated: false
      operationId: futures_v1_historical_minutes
      parameters:
      - deprecated: false
        description: The exchange to obtain data from
        explode: false
        in: query
        name: market
        required: true
        schema:
          maxLength: 30
          minLength: 2
          type: string
        style: form
      - deprecated: false
        description: "The mapped or unmapped instrument to retrieve on a specific\
          \ market. We first check the instrument against the mapped list and then\
          \ against the unmapped list \n        but you can use the mapping_priority\
          \ param to check the unmapped list first."
        explode: false
        in: query
        name: instrument
        required: true
        schema:
          maxLength: 500
          minLength: 1
          type: string
        style: form
      - deprecated: false
        description: "When requesting historical entries you can fiter by specific\
          \ groups of interest. To do so just pass the groups of interest into the\
          \ URL as a comma separted list. If left empty it will get all data that\
          \ you account is allowed to access. The groups available are: ID,MAPPING,OHLC,OHLC_TRADE,TRADE,VOLUME"
        explode: false
        in: query
        name: groups
        required: false
        schema:
          default: []
          items:
            type: string
          type: array
        style: form
      - deprecated: false
        description: The number of data points to return
        explode: false
        in: query
        name: limit
        required: false
        schema:
          default: 30
          maximum: 2000
          minimum: 1
          type: integer
        style: form
      - deprecated: false
        description: "Returns historical data before this unix timestamp. If you want\
          \ to get all the available historical data, you can use limit=2000 and keep\
          \ going back in time using the to_ts param. You can then keep requesting\
          \ batches using: &limit=2000&to_ts={the earliest unix timestamp received}"
        explode: false
        in: query
        name: to_ts
        required: false
        schema:
          type: integer
        style: form
      - deprecated: false
        description: The number of points to aggregate for each returned value. E.g.
          passing 5 on a minute histo data endpoint will return data at 5 minute intervals.
          You are still limited to a maximum of 2000 minute points so the maximum
          you can get is 400 5 minutes interval entries
        explode: false
        in: query
        name: aggregate
        required: false
        schema:
          default: 1
          maximum: 30
          minimum: 1
          type: integer
        style: form
      - deprecated: false
        description: "Boolean value, if set to false or 0 we will not return data\
          \ points for periods with no trading activity."
        explode: false
        in: query
        name: fill
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - deprecated: false
        description: "The mapping priority of the instrument. It is set to CHECK_MAPPED_FIRST\
          \ by default. It can be one of the following: CHECK_MAPPED_FIRST,CHECK_UNMAPPED_FIRST"
        explode: false
        in: query
        name: mapping_priority
        required: false
        schema:
          default: CHECK_MAPPED_FIRST
          enum:
          - CHECK_MAPPED_FIRST
          - CHECK_UNMAPPED_FIRST
          type: string
        style: form
      - deprecated: false
        description: "The format of the data response in uppercase. It can be one\
          \ of the following: JSON,CSV"
        explode: false
        in: query
        name: response_format
        required: false
        schema:
          default: JSON
          enum:
          - JSON
          - CSV
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GENERIC_RESPONSE'
          description: Success response from the API.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 400 error occurs when some of the data sent is malformed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 401 error occurs when you don't use a valid API Key on
            an endpoint that requires authetication.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 403 error occurs when you don't use a valid API Key on
            an endpoint that requires authetication.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The 404 error can either be returned when some/all of parameters\
            \ sent are not found within our system. This could be beacuse parameters\
            \ like market, instrument, news source, symbol, asset_id etc. are invalid"
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The 405 error occurs the user tries to use a http method (GET,POST,PUT\
            \ etc) that is not supported."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The 429 error occurs when you go over the API Key limit. Rate\
            \ limits are eforced on a second (resets every second), minute (resers\
            \ every minute), hour (resets every hour), day (resets every day) and\
            \ month (resets every month) granularity. You can upgrade your account\
            \ and access higher rate limits."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 500 error occurs our API is up but does not know how to
            / can't handle the request.
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 502 error occurs when our API is not running. This error
            is returned by our proxy / load balancer.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 503 error occurs when there is an issue with one of our
            data sources and we can't even return a partial answer.
      tags:
      - Futures
      x-section: Futures
      x-accepts: application/json
    summary: Futures (V1) OHLCV+ Minutes
  /futures/v1/historical/open-interest-messages:
    description: ""
    get:
      deprecated: false
      operationId: futures_v1_historical_open_interest_messages
      parameters:
      - deprecated: false
        description: The exchange to obtain data from
        explode: false
        in: query
        name: market
        required: true
        schema:
          maxLength: 30
          minLength: 2
          type: string
        style: form
      - deprecated: false
        description: "The mapped or unmapped instrument to retrieve on a specific\
          \ market. We first check the instrument against the mapped list and then\
          \ against the unmapped list \n        but you can use the mapping_priority\
          \ param to check the unmapped list first."
        explode: false
        in: query
        name: instrument
        required: true
        schema:
          maxLength: 500
          minLength: 1
          type: string
        style: form
      - deprecated: false
        description: Unix timestamp in seconds of the earliest open interest message
          in the response
        explode: false
        in: query
        name: after_ts
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - deprecated: false
        description: "The CCSEQ of the last message seen in the previous request.\
          \ Useful for pagination within messages that happened in the same second.\
          \ It will look though the messages in the same second and discard all messages\
          \ until it reaches the CCSEQ from the last_ccseq parameter. If the CCSEQ\
          \ is not part of that second, it will discard all messages in the second\
          \ and only return messages starting from the next second onwards. When starting\
          \ an integration with our API, on the first request, you should either not\
          \ send a value for this paramater (defaults to 0 and does not discard any\
          \ messages) or send 0. After you get a response use the TIMESTAMP and CCSEQ\
          \ from the last message in the response. Pass the TIMESTAMP in the after_ts\
          \ parameter and the CCSEQ in the last_ccseq parameter on your next request."
        explode: false
        in: query
        name: last_ccseq
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - deprecated: false
        description: The maximum number of open interest messages to return
        explode: false
        in: query
        name: limit
        required: false
        schema:
          default: 100
          maximum: 5000
          minimum: 1
          type: integer
        style: form
      - deprecated: false
        description: "The mapping priority of the instrument. It is set to CHECK_MAPPED_FIRST\
          \ by default. It can be one of the following: CHECK_MAPPED_FIRST,CHECK_UNMAPPED_FIRST"
        explode: false
        in: query
        name: mapping_priority
        required: false
        schema:
          default: CHECK_MAPPED_FIRST
          enum:
          - CHECK_MAPPED_FIRST
          - CHECK_UNMAPPED_FIRST
          type: string
        style: form
      - deprecated: false
        description: "The format of the data response in uppercase. It can be one\
          \ of the following: JSON,CSV"
        explode: false
        in: query
        name: response_format
        required: false
        schema:
          default: JSON
          enum:
          - JSON
          - CSV
          type: string
        style: form
      - deprecated: false
        description: "If set to false (default) then when there are no items to return,\
          \ you will get a response status code of 200 and an empty JSON array or\
          \ a CSV file with just the header. If set to true then when there are no\
          \ items you will get a 404 status code for both JSON and CSV response_formats."
        explode: false
        in: query
        name: return_404_on_empty_response
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GENERIC_RESPONSE'
          description: Success response from the API.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 400 error occurs when some of the data sent is malformed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 401 error occurs when you don't use a valid API Key on
            an endpoint that requires authetication.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 403 error occurs when you don't use a valid API Key on
            an endpoint that requires authetication.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The 404 error can either be returned when some/all of parameters\
            \ sent are not found within our system. This could be beacuse parameters\
            \ like market, instrument, news source, symbol, asset_id etc. are invalid"
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The 405 error occurs the user tries to use a http method (GET,POST,PUT\
            \ etc) that is not supported."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The 429 error occurs when you go over the API Key limit. Rate\
            \ limits are eforced on a second (resets every second), minute (resers\
            \ every minute), hour (resets every hour), day (resets every day) and\
            \ month (resets every month) granularity. You can upgrade your account\
            \ and access higher rate limits."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 500 error occurs our API is up but does not know how to
            / can't handle the request.
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 502 error occurs when our API is not running. This error
            is returned by our proxy / load balancer.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 503 error occurs when there is an issue with one of our
            data sources and we can't even return a partial answer.
      security:
      - api_key_query: []
      - api_key_header: []
      tags:
      - Futures
      x-section: Futures
      x-accepts: application/json
    summary: Futures (V1) Historical Open Interest Messages
  /futures/v1/historical/open-interest-messages/hour:
    description: TYou should use this endpoint to get a full hour of historical open
      interest messages when catching up. For latest open interest messages use the
      /futures/v1/historical/open-interest-messages endpoint.
    get:
      deprecated: false
      operationId: futures_v1_historical_open_interest_messages_hour
      parameters:
      - deprecated: false
        description: The exchange to obtain data from
        explode: false
        in: query
        name: market
        required: true
        schema:
          maxLength: 30
          minLength: 2
          type: string
        style: form
      - deprecated: false
        description: "The mapped or unmapped instrument to retrieve on a specific\
          \ market. We first check the instrument against the mapped list and then\
          \ against the unmapped list \n        but you can use the mapping_priority\
          \ param to check the unmapped list first."
        explode: false
        in: query
        name: instrument
        required: true
        schema:
          maxLength: 500
          minLength: 1
          type: string
        style: form
      - deprecated: false
        description: Unix timestamp in seconds for the hour containing the open interest
          updates you are interested in. You can pass any timestamp in the hour but
          we will round it down the the full hour timestmap and return all open interest
          updates in that hour.
        explode: false
        in: query
        name: hour_ts
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - deprecated: false
        description: "The mapping priority of the instrument. It is set to CHECK_MAPPED_FIRST\
          \ by default. It can be one of the following: CHECK_MAPPED_FIRST,CHECK_UNMAPPED_FIRST"
        explode: false
        in: query
        name: mapping_priority
        required: false
        schema:
          default: CHECK_MAPPED_FIRST
          enum:
          - CHECK_MAPPED_FIRST
          - CHECK_UNMAPPED_FIRST
          type: string
        style: form
      - deprecated: false
        description: "The format of the data response in uppercase. It can be one\
          \ of the following: JSON,CSV"
        explode: false
        in: query
        name: response_format
        required: false
        schema:
          default: JSON
          enum:
          - JSON
          - CSV
          type: string
        style: form
      - deprecated: false
        description: "If set to false (default) then when there are no items to return,\
          \ you will get a response status code of 200 and an empty JSON array or\
          \ a CSV file with just the header. If set to true then when there are no\
          \ items you will get a 404 status code for both JSON and CSV response_formats."
        explode: false
        in: query
        name: return_404_on_empty_response
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GENERIC_RESPONSE'
          description: Success response from the API.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 400 error occurs when some of the data sent is malformed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 401 error occurs when you don't use a valid API Key on
            an endpoint that requires authetication.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 403 error occurs when you don't use a valid API Key on
            an endpoint that requires authetication.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The 404 error can either be returned when some/all of parameters\
            \ sent are not found within our system. This could be beacuse parameters\
            \ like market, instrument, news source, symbol, asset_id etc. are invalid"
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The 405 error occurs the user tries to use a http method (GET,POST,PUT\
            \ etc) that is not supported."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The 429 error occurs when you go over the API Key limit. Rate\
            \ limits are eforced on a second (resets every second), minute (resers\
            \ every minute), hour (resets every hour), day (resets every day) and\
            \ month (resets every month) granularity. You can upgrade your account\
            \ and access higher rate limits."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 500 error occurs our API is up but does not know how to
            / can't handle the request.
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 502 error occurs when our API is not running. This error
            is returned by our proxy / load balancer.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 503 error occurs when there is an issue with one of our
            data sources and we can't even return a partial answer.
      security:
      - api_key_query: []
      - api_key_header: []
      tags:
      - Futures
      x-section: Futures
      x-accepts: application/json
    summary: Futures (V1) Historical Open Interest Messages by Hour Timestamp
  /futures/v1/historical/open-interest/days:
    description: ""
    get:
      deprecated: false
      operationId: futures_v1_historical_open_interest_days
      parameters:
      - deprecated: false
        description: The exchange to obtain data from
        explode: false
        in: query
        name: market
        required: true
        schema:
          maxLength: 30
          minLength: 2
          type: string
        style: form
      - deprecated: false
        description: "The mapped or unmapped instrument to retrieve on a specific\
          \ market. We first check the instrument against the mapped list and then\
          \ against the unmapped list \n        but you can use the mapping_priority\
          \ param to check the unmapped list first."
        explode: false
        in: query
        name: instrument
        required: true
        schema:
          maxLength: 500
          minLength: 1
          type: string
        style: form
      - deprecated: false
        description: "When requesting historical entries you can fiter by specific\
          \ groups of interest. To do so just pass the groups of interest into the\
          \ URL as a comma separted list. If left empty it will get all data that\
          \ you account is allowed to access. The groups available are: ID,MAPPING,OHLC,OHLC_MESSAGE,MESSAGE"
        explode: false
        in: query
        name: groups
        required: false
        schema:
          default: []
          items:
            type: string
          type: array
        style: form
      - deprecated: false
        description: The number of data points to return
        explode: false
        in: query
        name: limit
        required: false
        schema:
          default: 30
          maximum: 5000
          minimum: 1
          type: integer
        style: form
      - deprecated: false
        description: "Returns historical data before this unix timestamp. If you want\
          \ to get all the available historical data, you can use limit=2000 and keep\
          \ going back in time using the to_ts param. You can then keep requesting\
          \ batches using: &limit=2000&to_ts={the earliest unix timestamp received}"
        explode: false
        in: query
        name: to_ts
        required: false
        schema:
          type: integer
        style: form
      - deprecated: false
        description: The number of points to aggregate for each returned value. E.g.
          passing 5 on a minute histo data endpoint will return data at 5 minute intervals.
          You are still limited to a maximum of 2000 minute points so the maximum
          you can get is 400 5 minutes interval entries
        explode: false
        in: query
        name: aggregate
        required: false
        schema:
          default: 1
          maximum: 30
          minimum: 1
          type: integer
        style: form
      - deprecated: false
        description: "Boolean value, if set to false or 0 we will not return data\
          \ points for periods with no trading activity."
        explode: false
        in: query
        name: fill
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - deprecated: false
        description: "The mapping priority of the instrument. It is set to CHECK_MAPPED_FIRST\
          \ by default. It can be one of the following: CHECK_MAPPED_FIRST,CHECK_UNMAPPED_FIRST"
        explode: false
        in: query
        name: mapping_priority
        required: false
        schema:
          default: CHECK_MAPPED_FIRST
          enum:
          - CHECK_MAPPED_FIRST
          - CHECK_UNMAPPED_FIRST
          type: string
        style: form
      - deprecated: false
        description: "The format of the data response in uppercase. It can be one\
          \ of the following: JSON,CSV"
        explode: false
        in: query
        name: response_format
        required: false
        schema:
          default: JSON
          enum:
          - JSON
          - CSV
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GENERIC_RESPONSE'
          description: Success response from the API.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 400 error occurs when some of the data sent is malformed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 401 error occurs when you don't use a valid API Key on
            an endpoint that requires authetication.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The 403 error occurs when you don't use a valid API Key on
            an endpoint that requires authetication.
        "404":
          content:
            application/json:
              schema:
[...]
