/**
 * CryptoCompare Market, Index, Reference Data, News and Overview Metrcis API for the Cryptocurrency Industry
 * CryptoCompare is the world's leading digital asset data company, providing services that cater to corporate, government and retail clients. Our main reference index is widely recognized as a reliable benchmark, and we have been authorized by the Financial Conduct Authority (FCA) in the United Kingdom to operate as a benchmark administrator. In addition to catering to corporate, government, and retail clients, we offer a range of services including comprehensive market data for cryptocurrency exchanges in both the centralized and decentralized finance sectors, as well as individual asset data on custodians, supported platforms, and privacy solutions. Our offerings include price, volume, trade, and orderbook updates, as well as historical OHLCV data.
 *
 * The version of the OpenAPI document: 2.1.1
 * Contact: data@cryptocompare.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import java.util.Set;

import jakarta.ws.rs.*;
import jakarta.ws.rs.core.Response;
import jakarta.ws.rs.core.MediaType;

import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import org.openapitools.client.model.Error;
import org.openapitools.client.model.GENERICRESPONSE;

/**
 * CryptoCompare Market, Index, Reference Data, News and Overview Metrcis API for the Cryptocurrency Industry
 *
 * <p>CryptoCompare is the world's leading digital asset data company, providing services that cater to corporate, government and retail clients. Our main reference index is widely recognized as a reliable benchmark, and we have been authorized by the Financial Conduct Authority (FCA) in the United Kingdom to operate as a benchmark administrator. In addition to catering to corporate, government, and retail clients, we offer a range of services including comprehensive market data for cryptocurrency exchanges in both the centralized and decentralized finance sectors, as well as individual asset data on custodians, supported platforms, and privacy solutions. Our offerings include price, volume, trade, and orderbook updates, as well as historical OHLCV data.
 */
@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/overview/v1")
public interface OverviewApi  {

    @GET
    @Path("/historical/marketcap/all/assets/days")
    @Produces({ "application/json" })
    GENERICRESPONSE overviewV1HistoricalMarketcapAllAssetsDays(@QueryParam("groups") List<String> groups, @QueryParam("limit") @DefaultValue("30") Integer limit, @QueryParam("to_ts") Integer toTs, @QueryParam("aggregate") @DefaultValue("1") Integer aggregate, @QueryParam("fill") @DefaultValue("true") Boolean fill, @QueryParam("response_format") @DefaultValue("JSON") String responseFormat) throws ApiException, ProcessingException;

    @GET
    @Path("/historical/marketcap/all/assets/hours")
    @Produces({ "application/json" })
    GENERICRESPONSE overviewV1HistoricalMarketcapAllAssetsHours(@QueryParam("groups") List<String> groups, @QueryParam("limit") @DefaultValue("30") Integer limit, @QueryParam("to_ts") Integer toTs, @QueryParam("aggregate") @DefaultValue("1") Integer aggregate, @QueryParam("fill") @DefaultValue("true") Boolean fill, @QueryParam("response_format") @DefaultValue("JSON") String responseFormat) throws ApiException, ProcessingException;

    @GET
    @Path("/historical/marketcap/ftw/assets/days")
    @Produces({ "application/json" })
    GENERICRESPONSE overviewV1HistoricalMarketcapFtwAssetsDays(@QueryParam("groups") List<String> groups, @QueryParam("limit") @DefaultValue("30") Integer limit, @QueryParam("to_ts") Integer toTs, @QueryParam("aggregate") @DefaultValue("1") Integer aggregate, @QueryParam("fill") @DefaultValue("true") Boolean fill, @QueryParam("response_format") @DefaultValue("JSON") String responseFormat) throws ApiException, ProcessingException;

    @GET
    @Path("/historical/marketcap/ftw/assets/hours")
    @Produces({ "application/json" })
    GENERICRESPONSE overviewV1HistoricalMarketcapFtwAssetsHours(@QueryParam("groups") List<String> groups, @QueryParam("limit") @DefaultValue("30") Integer limit, @QueryParam("to_ts") Integer toTs, @QueryParam("aggregate") @DefaultValue("1") Integer aggregate, @QueryParam("fill") @DefaultValue("true") Boolean fill, @QueryParam("response_format") @DefaultValue("JSON") String responseFormat) throws ApiException, ProcessingException;

    @GET
    @Path("/latest/marketcap/all/tick")
    @Produces({ "application/json" })
    GENERICRESPONSE overviewV1LatestMarketcapAllTick(@QueryParam("groups") List<String> groups) throws ApiException, ProcessingException;

    @GET
    @Path("/latest/marketcap/ftw/tick")
    @Produces({ "application/json" })
    GENERICRESPONSE overviewV1LatestMarketcapFtwTick(@QueryParam("groups") List<String> groups) throws ApiException, ProcessingException;
}
